/.env*
!/.env.sample.sh
.DS_Store
/certs/*
!/certs/README.md
*.jar
/geoserver/*
!/geoserver/README.md
/.clj-kondo
/.lsp
/osrm/*
!/osrm/README.md

webapp/.nrepl-port
webapp/*.log
webapp/target
webapp/*-init.clj
webapp/resources/public/js/compiled
webapp/.cljs_rhino_repl
webapp/.lein-env
webapp/.lein-failures
webapp/.clj-kondo/*
!webapp/.clj-kondo/config.edn
webapp/node_modules
webapp/dist
webapp/.lsp
webapp/out
webapp/.shadow-cljs
webapp/.lein-repl-history