{:add "Add"
 :back-to-listing "Back to list view",
 :browse "Browse",
 :browse-to-map "Go to map view",
 :browse-to-portal "Enter portal",
 :cancel "Cancel",
 :choose-energy "Choose energy",
 :clear-selections "Clear",
 :close "Close",
 :delete "Delete",
 :deselect-all "Deselect all",
 :discard "Discard",
 :download "Download",
 :download-excel "Download",
 :duplicate "Duplicate",
 :edit "Edit",
 :fill-data "Fill",
 :fill-required-fields "Please fill all required fields",
 :filter "Filter",
 :filter-area-m2 "Filter area m²",
 :filter-construction-year "Filter construction years",
 :filter-surface-materials "Filter surface materials",
 :more "More...",
 :open-main-menu "Open main menu",
 :redo "Redo",
 :resurrect "Resurrect",
 :save "Save",
 :save-draft "Save draft",
 :select "Select",
 :select-admins "Select administrators",
 :select-all "Select all",
 :select-cities "Select cities",
 :select-columns "Select fields",
 :select-hall "Select hall",
 :select-hint "Select...",
 :select-owners "Select owners",
 :select-statuses "Status",
 :select-tool "Select tool",
 :select-type "Select types",
 :select-types "Select types",
 :select-year "Select year",
 :show-account-menu "Open account menu",
 :show-all-years "Show all years",
 :submit "Submit",
 :undo "Undo",
 :update "Update",
 :update-n-sites "Update {1} sports sites"}
