{:activated-carbon "Activated carbon",
 :coal "Coal",
 :membrane-filtration "Membrane filtration",
 :multi-layer-filtering "Multi-layer filtering",
 :open-sand "Open sand",
 :other "Other",
 :precipitation "Precipitation",
 :pressure-sand "Pressure sand"}
