{:age-anonymized "Age anonymized",
 :description "Description",
 :done "Done",
 :event "Event",
 :headline "Headline",
 :here "here",
 :last-modified "Last modified",
 :less "Less",
 :measures "Measures",
 :men "Men",
 :more "More",
 :name "Name",
 :structure "Structure",
 :total-short "Total",
 :type "Type",
 :women "Women"}
