{:description "Description",
 :hall "Hall",
 :women "Women",
 :headline "Headline",
 :total-short "Total",
 :done "Done",
 :updated "Updated",
 :name "Name",
 :reported "Reported",
 :type "Type",
 :last-modified "Last modified",
 :here "here",
 :less "Less",
 :event "Event",
 :structure "Structure",
 :general-info "General information",
 :comment "Comment",
 :measures "Measures",
 :age-anonymized "Age anonymized",
 :more "More",
 :men "Men"}
