{:disclaimer
 "When the option “May be shown in Harrastuspassi.fi” is ticked, the information regarding the sport facility will be transferred automatically to the Harrastuspassi.fi. I agree to update in the Lipas service any changes to information regarding the sport facility. The site administrator is responsible for the accuracy of information and safety of the location. Facility information is shown in Harrastuspassi.fi only if the municipality has a contract with Harrastuspassi.fi service provider."}
