{:headline "Help",
 :manage-content "Manage help content",
 :privacy-policy "Privacy policy"
 :data-model "Data model"
 :data-model-excel "Download the description of the Lipas data model in Excel format using the button below."}
