{:headline "Help",
 :manage-content "Manage help content",
 :permissions-help
 "Please contact us in case you need more permissions",
 :permissions-help-body
 "I need permissions to following sports facilities:",
 :permissions-help-subject "I need more permissions",
 :privacy-policy "Privacy policy"
 :data-model "Data model"
 :data-model-excel "Download the description of the Lipas data model in Excel format using the button below."}
