{:description
 "Up-to-date information can be found from Finhockey association web-site.",
 :energy-calculator "Ice stadium energy concumption calculator",
 :finhockey-link "Browse to Finhockey web-site",
 :headline "Energy Info"}
