{:basic-data-of-halls
 "General information about building and facilities",
 :description
 "Ice stadiums portal contains data about ice stadiums  energy consumption and related factors.",
 :entering-energy-data "Reporing energy consumption",
 :headline "Ice stadiums",
 :size-category "Size category",
 :updating-basic-data "Updating general information"}
