{:check-to-update-field "Check to update this field"
 :field-will-be-updated "This field will be updated"
 :field-will-not-change "This field will not change"
 :n-sites-selected "{1} sports sites selected"
 :select-fields-to-update "Select fields to update:"
 :select-sites-to-update "Select sports sites for update"
 :selected-fields-count "{1} fields selected"
 :selective-update-info "Select which fields you want to update. Only checked fields will be modified across all selected sports sites."
 :step-enter-info "Enter contact info"
 :step-select-sites "Select sports sites"
 :step-summary "Summary"
 :update-completed "Update completed!"
 :update-more-sites "Update more sports sites"
 :update-n-sites "Update {1} sports sites"
 :updated-fields "Updated fields"
 :updated-sites-list "Updated sports sites"
 :will-clear-field "Field will be cleared"
 :will-update-n-sites "Will update {1} sports sites"
 :will-update-to "Will update to:"}