{:contact-info "Contact info",
 :email "Email",
 :email-example "email@example.com",
 :firstname "First name",
 :history "History",
 :lastname "Last name",
 :no-permissions
 "You don't have permission to publish changes to  any sites.",
 :password "Password",
 :permission-to-activities
 "You have permission to the following activities",
 :permission-to-all-cities "You have permission to all cities",
 :permission-to-all-types "You have permission to all types",
 :permission-to-cities "You have permission to following cities:",
 :permission-to-portal-sites
 "You have permission to following sports facilities:",
 :permission-to-types "You have permission to following types:",
 :permissions "Permissions",
 :permissions-example "Access to update Jyväskylä ice stadiums.",
 :permissions-help "Describe what permissions you wish to have",
 :report-energy-and-visitors "Report visitors and energy consumption",
 :report-energy-consumption "Report energy consumption",
 :requested-permissions "Requested permissions",
 :save-report "Save template",
 :save-search "Save search",
 :saved-reports "Saved templates",
 :saved-searches "Saved searches",
 :sports-sites "My sites",
 :username "Username",
 :username-example "tane12",
 :view-basic-info "View basic info"}
