{:context-keys
 {:city-code "Municipality",
  :type-code "Type",
  :activity "Activity",
  :lipas-id "Site"},
 :context-value-all "All",
 :edit-role
 {:edit-header "Edit",
  :new-header "Add Role",
  :stop-editing "Stop Editing",
  :add "Add",
  :choose-role
  "Choose a role first to select which resources the role affects."},
 :permissions-old "(old, read-only)",
 :role "Role",
 :role-names
 {:activities-manager "UTP Manager",
  :ptv-manager "PTV Manager",
  :admin "Admin",
  :analysis-user "Analysis tool user",
  :org-admin "Organization admin",
  :type-manager "Type Manager",
  :itrs-assessor "ITRS Assessor",
  :floorball-manager "Floorball Editor",
  :site-manager "Site Manager",
  :city-manager "City Manager",
  :org-user "Organization user",
  :org-editor "Organization editor"},
 :role-descriptions
 {:type-manager "Editing of sites of the selected type",
  :city-manager "Editing of the selected municipality's sites",
  :site-manager "Editing of selected sites",
  :activities-manager "Editing of outdoor recreation (UTP) data",
  :itrs-assessor "Editing of ITRS classification data",
  :floorball-manager "Editing of floorball additional data",
  :analysis-user "Use of analysis tools",
  :analysis-experimental-user "Use of analysis and experimental tools",
  :ptv-manager "Management of PTV data",
  :org-editor "Editing of this organization's sites"},
 :privileges-label "Includes privileges:",
 :privilege-descriptions
 {:site.save-api "Saving partial changes (e.g. activities, floorball, ITRS)",
  :site.create-edit "Adding and editing sports facilities",
  :site.view "Viewing sports facility data",
  :site.edit-any-status "Editing facilities of any status (incl. decommissioned)",
  :activity.view "Viewing outdoor recreation (UTP) data",
  :activity.edit "Editing outdoor recreation (UTP) data",
  :loi.create-edit "Creating and editing other locations",
  :loi.view "Viewing other locations",
  :floorball.view "Viewing floorball basic data",
  :floorball.view-extended "Viewing floorball extended data",
  :floorball.edit "Editing floorball additional data",
  :analysis-tool.use "Use of analysis tools",
  :analysis-tool.experimental "Use of experimental analysis tools",
  :users.manage "User management",
  :org.member "Viewing organization information",
  :org.manage "Managing organization details and members",
  :org.admin "Creating new organizations",
  :help.manage "Editing help content",
  :ptv.manage "Managing PTV data",
  :ptv.audit "Auditing PTV descriptions",
  :jobs.manage "Managing background jobs",
  :itrs.edit "Editing ITRS classification data"},
 :roles "Roles"}
