{:showers-men-count "Mens showers count",
 :lockers-men-count "Mens lockers count",
 :headline "Other services",
 :platforms-5m-count "5 m platforms count",
 :kiosk? "Kiosk / cafeteria",
 :hydro-neck-massage-spots-count "Neck hydro massage spots count",
 :lockers-unisex-count "Unisex lockers count",
 :platforms-10m-count "10 m platforms count",
 :hydro-massage-spots-count "Other hydro massage spots count",
 :lockers-women-count "Womens lockers count",
 :platforms-7.5m-count "7.5 m platforms count",
 :gym? "Gym",
 :showers-unisex-count "Unisex showers count",
 :platforms-1m-count "1 m platforms count",
 :showers-women-count "Womens showers count",
 :platforms-3m-count "3 m platforms count"}
