{:headline "LIPAS in numbers"
 :sports-facilities "Sports facilities"
 :municipalities "Municipalities"
 :updated-last-year "Updates in the last 12 months"
 :updaters-last-year "Contributors in the last 12 months"
 :last-updated "Latest site updated"
 :today "today"
 :yesterday "yesterday"
 :days-ago "{1} days ago"}
