{:platforms-10m-count "10 m platforms count",
 :platforms-1m-count "1 m platforms count",
 :platforms-3m-count "3 m platforms count",
 :platforms-5m-count "5 m platforms count",
 :platforms-7.5m-count "7.5 m platforms count"}
