{:headline "LIPAS in numbers"
 :sports-facilities "sports facilities"
 :municipalities "municipalities"
 :updated-last-year "updated in the last 12 months"
 :km-of-routes "km of routes"
 :last-updated "Last updated"
 :today "today"
 :yesterday "yesterday"
 :days-ago "{1} days ago"}
