{:admin-only-message "PTV configuration can only be edited by LIPAS administrators."
 :cities-label "Cities"
 :english-label "English (en)"
 :finnish-label "Finnish (fi)"
 :integration-enabled "PTV integration is enabled for this organization."
 :integration-not-enabled-1 "PTV integration is not enabled for this organization. "
 :integration-not-enabled-2 " if you want to enable it."
 :languages-label "Languages"
 :municipality-codes-title "Municipality Codes"
 :org-id-helper "The organization's UUID in PTV system"
 :org-id-label "PTV Organization ID (UUID)"
 :org-id-placeholder "e.g. 92374b0f-7d3c-4017-858e-666ee3ca2761"
 :ownership-types-title "Ownership Types"
 :owners-label "Owners"
 :please-contact "Please contact "
 :prefix "PTV "
 :prod-org-id-helper "Special UUID used in production for apiUserOrganisation parameter"
 :prod-org-id-label "Production Authentication Organization ID (UUID)"
 :prod-org-id-placeholder "e.g. d0a60c4c-89ff-4c09-a948-a2ecca780105"
 :save-configuration "Save PTV Configuration"
 :supported-languages-title "Supported Languages"
 :swedish-label "Swedish (se)"
 :sync-enabled-label "PTV Sync Enabled"
 :test-credentials-title "Test Environment Credentials"
 :test-password-label "Test Password"
 :test-password-placeholder "Enter test environment password"
 :test-username-label "Test Username"
 :test-username-placeholder "e.g. API15@testi.fi"}