{:add-rink "Add rink",
 :edit-rink "Edit rink",
 :headline "Rinks",
 :rink1-area-m2 "Rink 1 area m²",
 :rink1-length "Rink 1 length m",
 :rink1-width "Rink 1 width m",
 :rink2-area-m2 "Rink 2 area m²",
 :rink2-length "Rink 2 length m",
 :rink2-width "Rink 2 width m",
 :rink3-area-m2 "Rink 3 area m²",
 :rink3-length "Rink 3 length m",
 :rink3-width "Rink 3 width m"}
