{:add-user "Add"
 :add-user-by-email "Add by email"
 :bulk-operations "Bulk Operations"
 :bulk-operations-description "Update contact information for multiple sports facilities at once"
 :bulk-operations-tab "Bulk Operations"
 :contact-admin
 "Contact the system administrator to be added to an organization"
 :contact-info-tab "Contact Info"
 :details "Organization details"
 :email "Email"
 :headline "Organizations"
 :members-tab "Members"
 :name "Name"
 :new-organization "New Organization"
 :no-organizations "You are not a member of any organization"
 :org-role "Role"
 :phone "Phone number"
 :ptv-integration "Integration"
 :ptv-tab "PTV"
 :reservations-link "Reservation link"
 :users "Organization users"
 :website "Website"}