{:open-months "Open months in year",
 :headline "Conditions",
 :ice-resurfacer-fuel "Ice resurfacer fuel",
 :stand-temperature-c "Stand temperature (during match)",
 :ice-average-thickness-mm "Average ice thickness (mm)",
 :air-humidity-min "Air humidity % min",
 :daily-maintenances-weekends "Daily maintenances on weekends",
 :air-humidity-max "Air humidity % max",
 :daily-maintenances-week-days "Daily maintenances on weekdays",
 :maintenance-water-temperature-c "Maintenance water temperature",
 :ice-surface-temperature-c "Ice surface temperature",
 :weekly-maintenances "Weekly maintenances",
 :skating-area-temperature-c "Skating area temperature (at 1m height)",
 :daily-open-hours "Daily open hours",
 :average-water-consumption-l
 "Average water consumption (l) / maintenance"}
