{:contact-info "Contact info",
 :email "Email",
 :email-example "email@example.com",
 :firstname "First name",
 :history "History",
 :lastname "Last name",
 :no-permissions
 "You don't have permission to publish changes to  any sites.",
 :password "Password",
 :permissions "Permissions",
 :permissions-example "Access to update Jyväskylä ice stadiums.",
 :permissions-help "Describe what permissions you wish to have",
 :requested-permissions "Requested permissions",
 :save-report "Save template",
 :saved-reports "Saved templates",
 :saved-searches "Saved searches",
 :user "User",
 :username "Username",
 :username-example "tane12",
 :view-basic-info "View basic info"}
