{:add-new "Add Sports Facility",
 :add-new-planning "Add a sports or outdoor site in draft mode",
 :add-renovation "Add action",
 :edit-renovation "Edit action",
 :admin "Admin",
 :basic-data "General",
 :comment "More information",
 :construction-year "Year of establishment",
 :construction-year-helper-text "Year of establishment refers to the year when sports activities began at this facility.",
 :contact "Contact",
 :creating-planning-site
 "You are adding a site in draft mode for analysis tools.",
 :delete "Delete {1}",
 :delete-reason "Reason",
 :delete-tooltip "Delete sports facility...",
 :email-public "Email (public)"
 :event-date "Modified",
 :headline "Sports facility",
 :major-renovation "Major renovation",
 :major-renovation-helper-text "Major renovation involves extensive improvement of a building or part of it, enhancing the quality, equipment level, or energy efficiency to at least the equivalent of new.",
 :marketing-name "Marketing name",
 :name "Finnish name",
 :name-localized-en "English name",
 :name-localized-se "Swedish name",
 :new-site "New Sports Facility",
 :new-site-of-type "New {1}",
 :no-permission-tab
 "You do not have permission to edit the information on this tab",
 :other-maintenance "Other maintenance",
 :owner "Owner",
 :ownership "Ownership",
 :phone-number "Phone number",
 :planning-site "Draft",
 :properties "Properties",
 :renovation-description "Action description",
 :renovation-type "Action type",
 :renovation-year "Year",
 :renovation-years "Renovation years",
 :renovations "Actions",
 :reservations-link "Reservations",
 :status "Status",
 :surface-materials "Surface materials",
 :type "Type",
 :www "Web-site"}
