{:headline "Admin",
 :email-verified-change "At email change",
 :email-verified "Email verified",
 :email-verified-registration "At registration",
 :email-verified-login "At login",
 :email-verified-legacy "Legacy account (implicit)",
 :email-not-verified "Not verified",
 :impersonate "Log in as user",
 :magic-link "Magic Link",
 :organizations "Organizations",
 :select-magic-link-template "Select letter",
 :send-magic-link "Send magic link to {1}",
 :users "Users"}
