{:properties "Properties",
 :delete-tooltip "Delete sports facility...",
 :headline "Sports facility",
 :new-site-of-type "New {1}",
 :new-site "New Sports Facility",
 :phone-number "Phone number",
 :admin "Admin",
 :surface-materials "Surface materials",
 :www "Web-site",
 :add-new-planning "Add a sports or outdoor site in draft mode",
 :name "Finnish name",
 :reservations-link "Reservations",
 :construction-year "Construction year",
 :type "Type",
 :delete "Delete {1}",
 :planning-site "Draft",
 :creating-planning-site
 "You are adding a site in draft mode for analysis tools.",
 :renovation-years "Renovation years",
 :name-localized-se "Swedish name",
 :status "Status",
 :id "LIPAS-ID",
 :details-in-portal "Click here to see details",
 :no-permission-tab
 "You do not have permission to edit the information on this tab",
 :comment "More information",
 :ownership "Ownership",
 :name-short "Name",
 :basic-data "General",
 :reservation-link "Reservation link",
 :delete-reason "Reason",
 :event-date "Modified",
 :name-localized-en "English name",
 :email-public "Email (public)",
 :add-new "Add Sports Facility",
 :contact "Contact",
 :owner "Owner",
 :marketing-name "Marketing name"}
