{:add-user "Add"
 :add-user-by-email "Add by email"
 :bulk-operations "Bulk Operations"
 :bulk-operations-description "Update contact information for multiple sports facilities at once"
 :bulk-update-info "Leave a field empty to clear that field in the selected sports facilities"
 :contact-admin
 "Contact the system administrator to be added to an organization"
 :contact-info-update "Contact Information to Update"
 :details "Organization details"
 :email "Email"
 :empty-field-clears "Empty field clears the data"
 :headline "Organizations"
 :name "Name"
 :no-organizations "You are not a member of any organization"
 :org-role "Role"
 :phone "Phone number"
 :reservations-link "Reservation link"
 :users "Organization users"
 :users-section "Users"
 :website "Website"}
