{:headline "LIPAS in numbers"
 :sports-facilities "Sports or outdoor facilities"
 :municipalities "Municipalities with data updated in the past year"
 :updated-last-year "Sites maintained in the past year"
 :updaters-last-year "Data maintainers in the past year"}
