{:headline "Building",
 :total-volume-m3 "Volume m³",
 :staff-count "Staff count",
 :piled? "Piled",
 :heat-sections? "Pool room is divided to heat sections?",
 :total-ice-area-m2 "Ice surface area m²",
 :main-construction-materials "Main construction materials",
 :main-designers "Main designers",
 :total-pool-room-area-m2 "Pool room area m²",
 :heat-source "Heat source",
 :total-surface-area-m2 "Area m²",
 :total-water-area-m2 "Water surface area m²",
 :ceiling-structures "Ceiling structures",
 :supporting-structures "Supporting structures",
 :seating-capacity "Seating capacity"}
