{:add-to-map "Add to map",
 :bounding-box-filter "Search from map area",
 :calculate-area "Calculate area",
 :calculate-count "Calculate count automatically",
 :calculate-route-length "Calculate route length",
 :center-map-to-site "Center map to sports-facility",
 :confirm-remove "Are you sure you want to delete selected geometry?",
 :delete-vertices-hint
 "Vertices can be deleted by pressing alt-key and clicking.",
 :download-gpx "Download GPX",
 :draw "Draw",
 :draw-geoms "Draw",
 :draw-hole "Add hole",
 :draw-linestring "Add route",
 :draw-polygon "Add area",
 :edit-later-hint "You can modify geometries later",
 :kink
 "Self intersection. Please fix either by re-routing or splitting the segment.",
 :modify "You can move the point on the map",
 :modify-linestring "Modify route",
 :modify-polygon "Modify area",
 :remove "Remove",
 :remove-linestring "Remove route",
 :remove-polygon "Remove area",
 :retkikartta-checkbox-reminder
 "Remember to tick \"May be shown in ExcursionMap.fi\" later in sports facility properties.",
 :retkikartta-problems-warning
 "Please fix problems displayed on the map in case this route should be visible also in Retkikartta.fi",
 :route-part-difficulty "Set route section difficulty",
 :split-linestring "Split",
 :travel-direction "Define travel direction",
 :zoom-closer "Please zoom closer",
 :zoom-to-site "Zoom map to sports facility's location",
 :zoom-to-user "Zoom to my location"}
