{:deleting-tooltip "Delete tool selected",
 :download-backup-tooltip "Download backup",
 :drawing-hole-tooltip "Hole drawing tool selected",
 :drawing-tooltip "Drawing tool selected",
 :edit-tool "Edit tool",
 :importing-tooltip "Import tool selected",
 :route-part-difficulty-tooltip
 "Route section difficulty tool selected",
 :itrs-segment-tooltip "ITRS classification tool selected",
 :selecting "Select tool selected",
 :simplify "Simplify",
 :simplifying "Simplify tool selected",
 :splitting-tooltip "Split tool selected",
 :travel-direction-tooltip "Travel direction tool selected"}
