{:light-traffic "Light traffic",
 :mml-kiinteisto "Property boundaries",
 :mml-property-identifiers "Property identifiers",
 :municipal-boundaries "Municipal boundaries",
 :retkikartta-snowmobile-tracks "Metsähallitus snowmobile tracks",
 :tooltip "Other layers"}
