{:get-failed "Couldn't get data.",
 :ie
 "Internet Explorer is not a supported browser. Please use another web browser, e.g. Chrome, Firefox or Edge.",
 :save-failed "Saving failed",
 :save-success "Saving succeeded",
 :thank-you-for-feedback "Thank you for feedback!"}
