{:get-failed "Couldn't get data.",
 :module-load-failed "Failed to load part of the application. Check your network connection and reload the page.",
 :ie
 "Internet Explorer is not a supported browser. Please use another web browser, e.g. Chrome, Firefox or Edge.",
 :save-failed "Saving failed",
 :save-success "Saving succeeded",
 :copied-to-clipboard "Copied to clipboard"
 :translate-success "Translation succeeded"
 :thank-you-for-feedback "Thank you for feedback!"}
