{:audited-sites "Audited sites",
 :characters "characters",
 :completed-tab "Completed",
 :description
 "In this view you can audit PTV descriptions and summaries for sports sites.",
 :feedback "Feedback",
 :feedback-placeholder
 "Write any feedback about the content here...",
 :headline "PTV text auditing",
 :last-audit "Previous audit",
 :no-audited-sites "No audited sites",
 :no-sites "No sites",
 :no-sites-to-audit "No sites to audit",
 :select-site "Select a sports site to audit",
 :select-site-label "Sports site",
 :select-site-placeholder "Type the sports site name",
 :select-site-prompt "Select a site from the list to see its details",
 :sites-stats
 "Total %1$s sports sites, of which %2$s audited and %3$s not audited",
 :sites-to-audit "Sites to audit",
 :status "Status",
 :tab-label "Auditing",
 :todo-tab "Pending",
 :validation-failed "Validation failed",
 :send-notification "Send notification",
 :sending-notification "Sending notification...",
 :audited "audited",
 :notification-sent-success "Notification sent to %1$s users",
 :no-recipients-found "No recipients found",
 :notification-sent "Notification sent"}
