{:export "Export",
 :export-disclaimer
 "I have read the descriptions and want this site to be exported to PTV.",
 :update-disclaimer
 "I have read the descriptions and want this site's data to be updated in PTV.",
 :generate-with-ai "Generate descriptions with AI",
 :select-org "Select organization",
 :select-service "Select service",
 :change-service "Change service",
 :attach-existing-service-channel "Link to existing service location...",
 :new-service-channel-will-be-created "A new service location will be created in PTV on export.",
 :change-service-channel "Change service location",
 :select-service-channel "Select service location",
 :sync-now "Sync now"}
