{:all-services-exist
 "Services for the selected type classes already exist in PTV. You can proceed to the next step.",
 :attach-to-conflicting-service-channel "Connect to this service location",
 :export-service-locations-to-ptv "Export to Service Information Repository",
 :export-services-to-ptv "Export to Service Information Repository",
 :generate-descriptions "Create descriptions",
 :regenerate-descriptions "Update descriptions",
 :generate-descriptions-helper1
 "Services can be created in PTV when they have at least a Finnish description and summary. LIPAS automatically fills in the service classification, keywords and other metadata.",
 :generate-descriptions-helper2
 "Press the \"Create descriptions\" button to automatically create descriptions using AI. Descriptions are created based on sports sites saved in LIPAS.",
 :generate-descriptions-helper3
 "Service locations can be created in PTV when they have at least a Finnish description and summary. LIPAS automatically fills in the service classification, keywords and other metadata.",
 :integrate-service-locations "Create service locations from sports sites",
 :service-channel-name-conflict
 "A service location with the name {1} already exists in PTV.",
 :services-to-add "Services to create",
 :export-error-try-again
 "Export failed. Try again or contact support if the problem persists.",
 :no-sports-sites-for-types
 "The municipality has no sports sites in LIPAS for the selected type classes.",
 :link-to-existing-service "Does the service already exist in PTV?",
 :select-existing-service "Select existing service",
 :linked-to-service "Linked to service",
 :mapped-services "Linked services",
 :unlink-service "Unlink",
 :unselect-helper
 "If you don't want to export a specific site, you can open\n     the site on the right and turn off the toggle switch."}
