{:contacts "Contacts",
 :download-as-excel "Download Excel",
 :select-fields "Select field",
 :selected-fields "Selected fields",
 :shortcuts "Shortcuts",
 :file-format "Format",
 :tooltip "Create Excel from search results"}
