{:change-password "Change password",
 :enter-new-password "Enter new password",
 :get-new-link "Get new reset link",
 :headline "Forgot password?",
 :helper-text "We will email password reset link to you.",
 :password-helper-text "Password must be at least 6 characters long",
 :reset-link-sent "Reset link sent! Please check your email!",
 :reset-success
 "Password has been reset! Please login with the new password."}
