{:disclaimer
 "When the option “May be shown in Excursionmap.fi” is ticked, the information regarding the open air exercise location will be transferred once in every 24 hours automatically to the Excursionmap.fi service, maintained by Metsähallitus.\nI agree to update in the Lipas service any changes to information regarding an open air exercise location.\nThe site administrator is responsible for the accuracy of information, safety of the location, responses to feedback and possible costs related to private roads."}
