{:table-view "Table view",
 :headline "Search",
 :results-count "{1} results",
 :placeholder "Search...",
 :retkikartta-filter "Retkikartta.fi",
 :filters "Filters",
 :search-more "Search more...",
 :page-size "Page size",
 :search "Search",
 :permissions-filter "Show only sites that I can edit",
 :display-closest-first "Display nearest first",
 :list-view "List view",
 :pagination "Results {1}-{2}",
 :school-use-filter "Used by schools",
 :clear-filters "Clear filters"}
