{:add-property-filter "Add filter",
 :boolean-filter-all "All",
 :boolean-filter-no "No",
 :boolean-filter-yes "Yes",
 :clear-filters "Clear filters",
 :clear-property-filters "Clear additional filters",
 :contains-text "Contains text",
 :display-closest-first "Display nearest first",
 :filters "Filters",
 :headline "Search",
 :list-view "List view",
 :page-size "Page size",
 :pagination "Results {1}-{2}",
 :permissions-filter "Show only sites that I can edit",
 :placeholder "Search...",
 :results-count "{1} results",
 :retkikartta-filter "Retkikartta.fi",
 :school-use-filter "Used by schools",
 :search "Search",
 :search-more "Search more...",
 :table-view "Table view"}
