{:description
 "Statistics of sports facilities and related municipality finances",
 :filter-types "Filter types",
 :length-km-sum "Total route length km",
 :headline "Statistics",
 :select-years "Select years",
 :browse-to "Go to statistics",
 :select-issuer "Select issuer",
 :select-unit "Select unit",
 :general-disclaimer-1
 "Lipas.fi Finland’s sport venues and places, outdoor routes and recreational areas data is open data under license: Attribution 4.0 International (CC BY 4.0). https://creativecommons.org/licenses/by/4.0/deed.en.",
 :bullet3 "Subsidies",
 :general-disclaimer-2
 "You are free to use, adapt and share Lipas.fi data in any way, as long as the source is mentioned (Lipas.fi data, University of Jyväskylä, date/year of data upload or relevant information).",
 :finance-stats "Finances",
 :select-city "Select city",
 :area-m2-min "Min area m²",
 :filter-cities "Filter cities",
 :select-metrics "Select metrics",
 :area-m2-count "Area m² reported count",
 :show-ranking "Show ranking",
 :age-structure-stats "Construction years",
 :subsidies-count "Subsidies count",
 :area-m2-sum "Total area m²",
 :select-metric "Select metric",
 :finance-disclaimer
 "Data on finances of sport and youth sector in municipalities: Statistics Finland open data. The material was downloaded from Statistics Finland's interface service in 2001-2019 with the license CC BY 4.0. Notice, that municipalities are responsible for updating financial information to Statistics Finland’s database. Data uniformity and data comparability between years or between municipalities is not guaranteed.",
 :general-disclaimer-3
 "Note, that Lipas.fi data is updated by municipalities, other owners of sport facilities and Lipas.fi administrators at the University of Jyväskylä, Finland. Data accuracy, uniformity or comparability between municipalities is not guaranteed. In the Lipas.fi statistics, all material is based on the data in Lipas database and possible missing information may affect the results.",
 :bullet2 "Sports facility statistics",
 :area-m2-max "Max area m²",
 :select-grouping "Grouping",
 :select-city-service "Select city service",
 :region "Region",
 :show-comparison "Show comparison",
 :length-km-avg "Average route length km",
 :sports-sites-count "Total count",
 :length-km-min "Min route length km",
 :country-avg "(country average)",
 :length-km-count "Route length reported count",
 :bullet4 "Construction years",
 :population "Population",
 :sports-stats "Sports faclities",
 :disclaimer-headline "Data sources",
 :select-cities "Select cities",
 :subsidies "Subsidies",
 :select-interval "Select interval",
 :bullet1 "Economic Figures of Sport and Youth sector",
 :area-m2-avg "Average area m²",
 :age-structure "Construction years",
 :length-km-max "Max route length km",
 :total-amount-1000e "Total amount (€1000)",
 :city-stats "City statistics"}
