{:age-structure "Construction years",
 :age-structure-stats "Construction years",
 :area-m2-avg "Average area m²",
 :area-m2-count "Area m² reported count",
 :area-m2-max "Max area m²",
 :area-m2-min "Min area m²",
 :area-m2-sum "Total area m²",
 :browse-to "Go to statistics",
 :bullet1 "Economic Figures of Sport and Youth sector",
 :bullet2 "Sports facility statistics",
 :bullet3 "Subsidies",
 :bullet4 "Construction years",
 :city-stats "City statistics",
 :country-avg "(country average)",
 :description
 "Statistics of sports facilities and related municipality finances",
 :disclaimer-headline "Data sources",
 :filter-cities "Filter cities",
 :filter-types "Filter types",
 :finance-disclaimer
 "Data on finances of sport and youth sector in municipalities: Statistics Finland open data. The material was downloaded from Statistics Finland's interface service in 2001-2019 with the license CC BY 4.0. Notice, that municipalities are responsible for updating financial information to Statistics Finland’s database. Data uniformity and data comparability between years or between municipalities is not guaranteed.",
 :finance-stats "Finances",
 :general-disclaimer-1
 "Lipas.fi Finland’s sport venues and places, outdoor routes and recreational areas data is open data under license: Attribution 4.0 International (CC BY 4.0). https://creativecommons.org/licenses/by/4.0/deed.en.",
 :general-disclaimer-2
 "You are free to use, adapt and share Lipas.fi data in any way, as long as the source is mentioned (Lipas.fi data, University of Jyväskylä, date/year of data upload or relevant information).",
 :general-disclaimer-3
 "Note, that Lipas.fi data is updated by municipalities, other owners of sport facilities and Lipas.fi administrators at the University of Jyväskylä, Finland. Data accuracy, uniformity or comparability between municipalities is not guaranteed. In the Lipas.fi statistics, all material is based on the data in Lipas database and possible missing information may affect the results.",
 :headline "Statistics",
 :length-km-avg "Average route length km",
 :length-km-count "Route length reported count",
 :length-km-max "Max route length km",
 :length-km-min "Min route length km",
 :length-km-sum "Total route length km",
 :population "Population",
 :region "Region",
 :select-cities "Select cities",
 :select-city "Select city",
 :select-city-service "Select city service",
 :select-grouping "Grouping",
 :select-interval "Select interval",
 :select-issuer "Select issuer",
 :select-metric "Select metric",
 :select-metrics "Select metrics",
 :select-unit "Select unit",
 :select-years "Select years",
 :show-comparison "Show comparison",
 :show-ranking "Show ranking",
 :sports-sites-count "Total count",
 :sports-stats "Sports faclities",
 :subsidies "Subsidies",
 :subsidies-count "Subsidies count",
 :total-amount-1000e "Total amount (€1000)"}
