{:description
 "Swimming pools portal contains data about indoor  swimming pools energy consumption and related factors.",
 :latest-updates "Latest updates",
 :headline "Swimming pools",
 :basic-data-of-halls
 "General information about building and facilities",
 :updating-basic-data "Updating general information",
 :edit "Report consumption",
 :entering-energy-data "Reporing energy consumption",
 :list "Pools list",
 :visualizations "Comparison"}
