{:description
 "Up-to-date information can be found from UKTY and  SUH web-sites.",
 :headline "Energy info",
 :headline-short "Info",
 :suh-link "Browse to SUH web-site",
 :ukty-link "Browse to UKTY web-site"}
