{:date "Date",
 :end "Ended",
 :hour "Hour",
 :just-a-moment-ago "Just a moment ago",
 :last-year "Last year",
 :less-than-hour-ago "Less than an hour ago",
 :long-time-ago "Long time ago",
 :month "Month",
 :start "Started",
 :this-month "This month",
 :this-week "This week",
 :this-year "This year",
 :three-years-ago "3 years ago",
 :time "Time",
 :today "Today",
 :two-years-ago "2 years ago",
 :year "Year",
 :yesterday "Yesterday"}
