{:LineString "Route",
 :Point "Point",
 :Polygon "Area",
 :count "Total types",
 :geometry "Geometry",
 :main-categories "Main categories",
 :main-category "Main category",
 :name "Sports site type",
 :sports-site-types "Sports site types",
 :sub-category "Sub category",
 :sub-categories "Sub categories",
 :type-code "Type code"}
