{:admin-page-link "Admin page",
 :data-ownership "Terms of use ",
 :front-page-link "front page",
 :greeting "Hello {1} {2}!",
 :headline "Profile",
 :ice-stadiums-link "Ice stadiums",
 :promo-headline "Current News",
 :promo1-link "Show TEAviisari targets I can update",
 :swimming-pools-link "Swimming pools"}
