{:headline "Profile",
 :admin-page-link "Admin page",
 :promo1-link "Show TEAviisari targets I can update",
 :swimming-pools-link "Swimming pools",
 :promo-headline "Current News",
 :data-ownership "Terms of use ",
 :front-page-link "front page",
 :promo1-text "View PDF",
 :ice-stadiums-link "Ice stadiums",
 :greeting "Hello {1} {2}!",
 :promo1-topic
 "NOTICE! AN UPDATE IN THE CLASSIFICATION SYSTEM OF LIPAS SPORTS FACILITIES (11 January 2022) "}
