{:add-contact "Add contact information",
 :add-highlight "Add highlight",
 :add-photo "Add photograph",
 :add-segment "Add segment",
 :add-subroute "Add sub-route",
 :add-subroute-ok "OK",
 :add-video "Add video",
 :custom-rule "Custom permit, regulation, instruction",
 :custom-rules "Custom instructions",
 :delete-route-prompt "Are you sure you want to delete this route?",
 :finish-route-details "Route completed",
 :highlight "Highlight",
 :length-km "Length km",
 :link "Link",
 :photo "Photograph",
 :read-only-disclaimer
 "There is currently only an editing view for activities. Log in and go to the editing mode from the pen symbol.",
 :reverse-segment "Reverse segment direction",
 :route-is-made-of-subroutes
 "The route consists of multiple separate sections",
 :segment "Segment",
 :segments "Segments",
 :select-route-parts-on-map "Select route parts on the map",
 :unit "unit",
 :video "Video"}
