{:add-contact "Add contact information",
 :add-first-route "Add first route",
 :add-highlight "Add highlight",
 :add-photo "Add photograph",
 :add-route "Add route",
 :add-subroute "Add sub-route",
 :add-subroute-ok "OK",
 :add-video "Add video",
 :custom-rule "Custom permit, regulation, instruction",
 :custom-rules "Custom instructions",
 :delete-route "Delete route"
 :delete-route-prompt "Are you sure you want to delete this route?",
 :edit-routes "Edit routes",
 :finish-route-details "Route completed",
 :headline "Activities",
 :highlight "Highlight",
 :length-km "Length km",
 :link "Link",
 :new-route "New route",
 :order-segments "Order segments",
 :photo "Photograph",
 :read-only-disclaimer
 "There is currently only an editing view for activities. Log in and go to the editing mode from the pen symbol.",
 :route "Route",
 :route-is-made-of-subroutes
 "The route consists of multiple separate sections",
 :select-route "Select route",
 :select-route-parts-on-map "Select route parts on the map",
 :unit "unit",
 :video "Video"}
