{:lint-as
 {reagent.core/with-let clojure.core/let
  etaoin.api/doto-wait clojure.core/doto}
 :linters {:unsorted-required-namespaces {:level :warning
                                          :sort :case-sensitive}
           :consistent-alias {:aliases {clojure.string str
                                        re-frame.core rf
                                        reagent.core r}}
           :discouraged-namespace {goog.object {:message "Prefer JS interop over goog.object"}}}}
