{:duplicate "Kopioi",
 :resurrect "Palauta",
 :select-year "Valitse vuosi",
 :select-owners "Valitse omistajat",
 :select-admins "Valitse ylläpitäjät",
 :select-tool "Valitse työkalu",
 :save-draft "Tallenna luonnos",
 :redo "Tee uudelleen",
 :load-as-file "Lataa tiedostona",
 :open-main-menu "Avaa päävalikko",
 :back-to-listing "Takaisin listaukseen",
 :filter-surface-materials "Rajaa pintamateriaalit",
 :browse "siirry",
 :select-type "Valitse tyyppi",
 :edit "Muokkaa",
 :filter-construction-year "Rajaa rakennusvuodet",
 :submit "Lähetä",
 :choose-energy "Valitse energia",
 :delete "Poista",
 :browse-to-map "Siirry kartalle",
 :save "Tallenna",
 :close "Sulje",
 :select-all "Valitse kaikki",
 :filter-area-m2 "Rajaa liikuntapinta-ala m²",
 :show-account-menu "Avaa käyttäjävalikko",
 :fill-required-fields "Täytä pakolliset kentät",
 :undo "Kumoa",
 :browse-to-portal "Siirry portaaliin",
 :download-excel "Lataa",
 :fill-data "Täytä tiedot",
 :back "Takaisin",
 :select-statuses "Liikuntapaikan tila",
 :select-cities "Valitse kunnat",
 :select-hint "Valitse...",
 :discard "Kumoa",
 :more "Lisää...",
 :cancel "Peruuta",
 :select-columns "Valitse tietokentät",
 :add "Lisää",
 :show-all-years "Näytä kaikki vuodet",
 :download "Lataa",
 :select-hall "Valitse halli",
 :clear-selections "Poista valinnat",
 :select "Valitse",
 :select-types "Valitse tyypit",
 :filter "Suodata",
 :deselect-all "Poista kaikki valinnat",
 :update "Päivitä"}
