{:actions "Toiminnot",
 :add "Lisää",
 :back "Takaisin",
 :browse-to-map "Siirry kartalle",
 :browse-to-portal "Siirry portaaliin",
 :cancel "Peruuta",
 :clear-selections "Poista valinnat",
 :close "Sulje",
 :delete "Poista",
 :deselect-all "Poista kaikki valinnat",
 :discard "Kumoa",
 :done "Valmis"
 :download "Lataa",
 :download-excel "Lataa",
 :duplicate "Kopioi",
 :edit "Muokkaa",
 :fill-data "Täytä tiedot",
 :fill-required-fields "Täytä pakolliset kentät",
 :filter "Suodata",
 :filter-construction-year "Rajaa rakennusvuodet",
 :load-as-file "Lataa tiedostona",
 :next "Seuraava"
 :open-main-menu "Avaa päävalikko",
 :redo "Tee uudelleen",
 :resurrect "Palauta",
 :save "Tallenna",
 :select "Valitse",
 :select-admins "Valitse ylläpitäjät",
 :select-all "Valitse kaikki",
 :select-cities "Valitse kunnat",
 :select-columns "Valitse tietokentät",
 :select-hint "Valitse...",
 :select-owners "Valitse omistajat",
 :select-statuses "Liikuntapaikan tila",
 :select-tool "Valitse työkalu",
 :select-type "Valitse tyyppi",
 :select-types "Valitse tyypit",
 :select-year "Valitse vuosi",
 :show-account-menu "Avaa käyttäjävalikko",
 :submit "Lähetä",
 :undo "Kumoa"}
