{:elementary-and-high-school "Perus- ja lukioasteen koulu",
 :description
 "Analyysityökalulla voi arvioida liikuntaolosuhteiden tarjontaa ja saavutettavuutta vertailemalla liikuntapaikan etäisyyttä ja matkustusaikoja suhteessa muihin liikuntapaikkoihin, väestöön sekä oppilaitoksiin.",
 :filter-types "Suodata tyypin mukaan",
 :direct "Linnuntietä",
 :constraints "Rajaukset",
 :download-grid "Lataa ruudukko",
 :women "Naiset",
 :headline "Analyysityökalu (beta)",
 :format "Formaatti",
 :settings-zones "Etäisyydet ja matka-ajat",
 :by-bicycle "Polkupyörällä",
 :daycare "Varhaiskasvatusyksikkö",
 :by-car "Autolla",
 :ready-classifications "Valmiit luokittelut",
 :in-use-year-round "Käytössä vuoden ympäri",
 :analyze-more-targets
 "Analysoi lisää kohteita klikkaamalla liikuntapaikkaa kartalla",
 :diversity-index-chart "Monipuolisuusindeksi",
 :diversity-idx "Monipuolisuusindeksi",
 :categorization-name "Kategorisoinnin nimi",
 :calculate-all "Laske kaikki",
 :mean "Keskiarvo",
 :heatmap "Lämpökartta",
 :diversity-help2
 "Oletuksena työkalussa käytetään postinumeroihin perustuvaa aluejakoa. Jako voidaan tehdä myös muun olemassa olevan aluejaon perusteella tuomalla haluttu geometriatiedosto (Shapefile, GeoJSON tai KML).",
 :settings-map "Kartalla näkyvät kohteet",
 :name-chart "Nimi",
 :zone "Kori",
 :elementary-school "Peruskoulu",
 :default "Oletus",
 :reachability "Saavutettavuus",
 :special-school "Erityiskoulu",
 :diversity-help1
 "Monipuolisuustyökalulla voi arvioida ja vertailla liikuntaolosuhteiden monipuolisuutta asukkaiden lähiympäristössä  ruutu- ja aluetasolla. Monipuolisuustyökalun laskema monipuolisuusindeksi kuvaa, kuinka monipuolisesti erilaisia liikunnan harrastusmahdollisuuksia asukas voi saavuttaa valitun etäisyyden sisällä tie- ja polkuverkostoja pitkin (oletuksena 800 m). Mitä korkeampi indeksin antama arvo on, sitä enemmän erilaisia liikuntapaikkoja asukkaiden lähiympäristössä on.",
 :analysis-areas "Analyysialueet",
 :description2
 "Väestöaineistona käytetään Tilastokeskuksen 250x250m ja 1x1km ruutuaineistoja, joista selviää kussakin ruudussa olevan väestön jakauma kolmessa ikäryhmässä (0-14, 15-65, 65-).",
 :mode "Moodi",
 :analysis-buffer "Analyysialue",
 :save-categories "Tallenna kategoriat",
 :description4
 "Oppilaitosten nimi- ja sijaintitiedot perustuvat Tilastokeskuksen avoimeen aineistoon. Varhaiskasvatusyksiköiden nimi- ja sijaintitiedoissa käytetään LIKES:n keräämää ja luovuttamaa aineistoa.",
 :settings "Asetukset",
 :schools "Koulut",
 :in-use-summer "Käytössä kesällä",
 :confirm-restore-defaults
 "Tahdotko varmasti palauttaa oletuskategoriat?",
 :statistics-center-notice "Tilastokeskus väestörakenne 2022",
 :import-own-areas "Tuo omat alueet",
 :close "Sulje analyysityökalut",
 :download-areas "Lataa alueet",
 :by-grid "Ruuduittain",
 :diversity "Monipuolisuus",
 :by-foot "Kävellen",
 :total "Yhteensä",
 :description3
 "Matka-aikojen laskeminen eri kulkutavoilla (kävellen, polkupyörällä, autolla) perustuu avoimeen OpenStreetMap-aineistoon ja OSRM-työkaluun.",
 :download-parameters "Lataa parametrit",
 :categories "Kategoriat",
 :total-population-chart "Kokonaisväestö",
 :median "Mediaani",
 :settings-help
 "Analyysialue määräytyy suurimman etäisyyskorin mukaan. Myöskään matka-aikoja ei lasketa tämän alueen ulkopuolelta.",
 :factor "Kerroin",
 :categories-help
 "Samaan kategoriaan kuuluvat liikuntapaikkatyypit vaikuttavat monipuolisuusindeksiin vain yhden kerran.",
 :restore-default-categories "Palauta oletuskategoriat",
 :population "Väestö",
 :population-weighted-mean "Väestöpainotettu monipuolisuusindeksi",
 :diversity-help3
 "Laskenta tehdään Tilastokeskuksen 250 x 250 m väestöruuduittain. Aluetason tulokset kertovat keskimääräisestä liikunnan olosuhteiden monipuolisuudesta alueen asukkaiden lähiympäristöissä (monipuolisuusindeksin väestöpainotettu keskiarvo). Monipuolisuustyökalun laskentaetäisyys perustuu OpenStreetMapin tieverkostoaineistoon ja OSRM-työkaluun.",
 :zones "Korit",
 :diversity-grid "Tulosruudukko",
 :no-analyses-done "Analyyseja ei ole tehty",
 :graphs "Kuvaajat",
 :in-use-winter "Käytössä talvella",
 :distance "Etäisyys",
 :add-new "Lisää uusi",
 :population-chart "Väestö",
 :cumulative-results "Kumulatiiviset tulokset",
 :use-postal-code-areas "Käytä postinumeroalueita",
 :population-weighted-diversity-chart
 "Väestöpainotettu monipuolisuusindeksi",
 :delete-category "Poista kategoria",
 :save-categorization "Tallenna kategorisointi",
 :select-areas "Valitse alueet",
 :by-areas "Alueittain",
 :new-category "Uusi kategoria",
 :calculate-diversity "Laske monipuolisuus",
 :high-school "Lukio",
 :men "Miehet",
 :download-categories "Lataa kategoriat",
 :travel-time "Matka-aika",
 :results "Tulokset"}
