{:description "Kuvaus",
 :hall "Halli",
 :women "Naiset",
 :headline "Otsikko",
 :total-short "Yht.",
 :done "Valmis",
 :updated "Päivitetty",
 :name "Nimi",
 :reported "Ilmoitettu",
 :type "Tyyppi",
 :last-modified "Muokattu viimeksi",
 :here "tästä",
 :less "Vähemmän",
 :event "Tapahtuma",
 :structure "Rakenne",
 :general-info "Yleiset tiedot",
 :comment "Kommentti",
 :measures "Mitat",
 :age-anonymized "Ikä anonymisoitu",
 :more "Enemmän",
 :men "Miehet"}
