{:disclaimer
 "Kun ”saa julkaista Harrastuspassissa” – ruutu on rastitettu, liikuntapaikan tiedot siirretään automaattisesti Harrastuspassi-palveluun. Sitoudun päivittämään liikuntapaikan tietojen muutokset viipymättä Lippaaseen. Paikan hallinnoijalla on vastuu tietojen oikeellisuudesta ja paikan turvallisuudesta. Tiedot näkyvät Harrastuspassissa vain, mikäli kunnalla on sopimus Harrastuspassin käytöstä Harrastuspassin palveluntuottajan kanssa."}
