{:available-pages "Sivut tässä osiossa",
 :headline "Ohjeet",
 :manage-content "Hallitse ohjesisältöä",
 :privacy-policy "Tietosuojailmoitus"
 :data-model "Tietomalli"
 :data-model-excel "Lataa kuvaus Lipaksen tietomallista Excel-muodossa alla olevasta painikkeesta."}
