{:description
 "Ajantasaisen tietopaketin löydät Jääkiekkoliiton sivuilta.",
 :energy-calculator "Jäähallin energialaskuri",
 :finhockey-link "Siirry Jääkiekkoliiton sivuille",
 :headline "Energia​info"}
