{:basic-data-of-halls "Jäähallien perustiedot",
 :description
 "Jäähalliportaali sisältää  hallien perus- ja energiankulutustietoja sekä ohjeita  energiatehokkuuden parantamiseen.",
 :entering-energy-data "Energiankulutustietojen syöttäminen",
 :headline "Jäähalli​portaali",
 :size-category "Kokoluokitus",
 :updating-basic-data "Perustietojen päivitys"}
