{:headline "LIPAS numeroina"
 :sports-facilities "liikuntapaikkaa"
 :municipalities "kuntaa"
 :updated-last-year "päivitetty viim. 12 kk"
 :km-of-routes "km reittejä"
 :last-updated "Viimeksi päivitetty"
 :today "tänään"
 :yesterday "eilen"
 :days-ago "{1} päivää sitten"}
