{:headline "LIPAS numeroina"
 :sports-facilities "Liikunta- tai ulkoilupaikkaa"
 :municipalities "Kunnan alueella tuotettu tietoa vuoden aikana"
 :updated-last-year "Ylläpidettyä kohdetta vuoden aikana"
 :updaters-last-year "Tiedon ylläpitäjää vuoden aikana"}
