{:properties "Lisätiedot",
 :delete-tooltip "Poista liikuntapaikka...",
 :headline "Liikuntapaikka",
 :new-site-of-type "Uusi {1}",
 :address "Osoite",
 :new-site "Uusi liikuntapaikka",
 :phone-number "Puhelinnumero",
 :admin "Ylläpitäjä",
 :accessibility "Esteettömyys",
 :surface-materials "Pintamateriaalit",
 :www "Web-sivu",
 :add-new-planning "Lisää liikunta- tai ulkoilupaikka vedos-tilassa",
 :property "Ominaisuus",
 :name "Nimi suomeksi",
 :reservations-link "Tilavaraukset",
 :construction-year "Rakennus​vuosi",
 :type "Tyyppi",
 :delete "Poista {1}",
 :planning-site "Vedos",
 :creating-planning-site "Olet lisäämässä paikkaa vedos-tilassa analyysityökaluja varten.",
 :admin-helper-text "Kohteen ylläpidon toteuttava taho",
 :renovation-years "Perus​korjaus​vuodet",
 :name-localized-se "Nimi ruotsiksi",
 :properties2 "Ominaisuudet",
 :status "Liikuntapaikan tila",
 :id "LIPAS-ID",
 :details-in-portal "Näytä kaikki lisätiedot",
 :no-permission-tab "Sinulla ei ole oikeutta muokata tämän välilehden tietoja",
 :comment "Lisätieto",
 :ownership "Omistus",
 :owner-helper-text "Kohteessa olevien rakenteiden tai palveluiden omistaja",
 :name-short "Nimi",
 :basic-data "Perustiedot",
 :reservation-link "Varauslinkki",
 :delete-reason "Poiston syy",
 :event-date "Muokattu",
 :name-localized-en "Nimi englanniksi",
 :email-public "Sähköposti (julkinen)",
 :add-new "Lisää liikunta- tai ulkoilupaikka",
 :contact "Yhteystiedot",
 :contact-helper-text "Yleisesti kohteesta, palveluista tai rakenteista vastaavan organisaation yhteystiedot",
 :owner "Omistaja",
 :marketing-name "Markkinointinimi"}
