{:daily-open-hours "Aukiolotunnit päivässä",
 :headline "Aukiolo",
 :open-days-in-year "Aukiolopäivät vuodessa",
 :open-hours-fri "Perjantaisin",
 :open-hours-mon "Maanantaisin",
 :open-hours-sat "Lauantaisin",
 :open-hours-sun "Sunnuntaisin",
 :open-hours-thu "Torstaisin",
 :open-hours-tue "Tiistaisin",
 :open-hours-wed "Keskiviikkoisin"}
