{:showers-men-count "Miesten suihkut lkm",
 :lockers-men-count "Miesten pukukaapit lkm",
 :headline "Muut palvelut",
 :platforms-5m-count "5 m hyppypaikkojen lkm",
 :kiosk? "Kioski / kahvio",
 :hydro-neck-massage-spots-count "Niskahierontapisteiden lkm",
 :lockers-unisex-count "Unisex pukukaapit lkm",
 :platforms-10m-count "10 m hyppypaikkojen lkm",
 :hydro-massage-spots-count "Muiden hierontapisteiden lkm",
 :lockers-women-count "Naisten pukukaapit lkm",
 :platforms-7.5m-count "7.5 m hyppypaikkojen lkm",
 :gym? "Kuntosali",
 :showers-unisex-count "Unisex suihkut lkm",
 :platforms-1m-count "1 m hyppypaikkojen lkm",
 :showers-women-count "Naisten suihkut lkm",
 :platforms-3m-count "3 m hyppypaikkojen lkm"}
