{:headline "Kentät",
 :rink2-length "Kentän 2 pituus m",
 :rink2-area-m2 "Kentän 2 pinta-ala m²",
 :rink1-area-m2 "Kentän 1 pinta-ala m²",
 :rink3-width "Kentän 3 leveys m",
 :rink1-length "Kentän 1 pituus m",
 :edit-rink "Muokkaa kenttää",
 :rink3-area-m2 "Kentän 3 pinta-ala m²",
 :rink3-length "Kentän 3 pituus m",
 :add-rink "Lisää kenttä",
 :rink2-width "Kentän 2 leveys m",
 :rink1-width "Kentän 1 leveys m"}
