{:headline "Admin",
 :magic-link "Taikalinkki",
 :organizations "Organisaatiot",
 :select-magic-link-template "Valitse saatekirje",
 :send-magic-link "Taikalinkki käyttäjälle {1}",
 :users "Käyttäjät"}
