{:platforms-10m-count "10 m hyppypaikkojen lkm",
 :platforms-1m-count "1 m hyppypaikkojen lkm",
 :platforms-3m-count "3 m hyppypaikkojen lkm",
 :platforms-5m-count "5 m hyppypaikkojen lkm",
 :platforms-7.5m-count "7.5 m hyppypaikkojen lkm"}
