{:headline "LIPAS numeroina"
 :sports-facilities "Liikuntapaikkaa"
 :municipalities "Kuntaa"
 :updated-last-year "Päivitystä 12 kk sisällä"
 :updaters-last-year "Päivittäjää 12 kk sisällä"
 :last-updated "Viimeisin kohde päivitetty"
 :today "tänään"
 :yesterday "eilen"
 :days-ago "{1} päivää sitten"}
