{:headline "Rakennus",
 :total-volume-m3 "Bruttotilavuus m³",
 :staff-count "Henkilökunnan lukumäärä",
 :piled? "Paalutettu",
 :heat-sections? "Allastila on jaettu lämpötilaosioihin",
 :total-ice-area-m2 "Jääpinta-ala m²",
 :main-construction-materials "Päärakennusmateriaalit",
 :main-designers "Pääsuunnittelijat",
 :total-pool-room-area-m2 "Allashuoneen pinta-ala m²",
 :heat-source "Lämmönlähde",
 :total-surface-area-m2 "Bruttopinta-ala m² (kokonaisala)",
 :total-water-area-m2 "Vesipinta-ala m²",
 :ceiling-structures "Yläpohjan rakenteet",
 :supporting-structures "Kantavat rakenteet",
 :seating-capacity "Katsomokapasiteetti"}
