{:admin-only-message "PTV-asetuksia voivat muokata vain LIPAS-ylläpitäjät."
 :cities-label "Kunnat"
 :english-label "Englanti (en)"
 :finnish-label "Suomi (fi)"
 :integration-enabled "PTV-integraatio on käytössä tälle organisaatiolle."
 :integration-not-enabled-1 "PTV-integraatio ei ole käytössä tälle organisaatiolle. "
 :integration-not-enabled-2 " jos haluat ottaa sen käyttöön."
 :languages-label "Kielet"
 :municipality-codes-title "Kuntakoodit"
 :org-id-helper "Organisaation UUID PTV-järjestelmässä"
 :org-id-label "PTV-organisaation ID (UUID)"
 :org-id-placeholder "esim. 92374b0f-7d3c-4017-858e-666ee3ca2761"
 :ownership-types-title "Omistajatyypit"
 :owners-label "Omistajat"
 :please-contact "Ole yhteydessä "
 :prefix "PTV "
 :prod-org-id-helper "Erityinen UUID tuotannon apiUserOrganisation-parametrille"
 :prod-org-id-label "Tuotannon todennusorganisaation ID (UUID)"
 :prod-org-id-placeholder "esim. d0a60c4c-89ff-4c09-a948-a2ecca780105"
 :save-configuration "Tallenna PTV-asetukset"
 :supported-languages-title "Tuetut kielet"
 :swedish-label "Ruotsi (se)"
 :sync-enabled-label "PTV-synkronointi käytössä"
 :test-credentials-title "Testiympäristön tunnukset"
 :test-password-label "Testisalasana"
 :test-password-placeholder "Anna testiympäristön salasana"
 :test-username-label "Testikäyttäjätunnus"
 :test-username-placeholder "esim. API15@testi.fi"}