{:accessibility "Esteettömyys",
 :add-new "Lisää liikunta- tai ulkoilupaikka",
 :add-new-planning "Lisää liikunta- tai ulkoilupaikka vedos-tilassa",
 :add-renovation "Lisää toimenpide",
 :address "Osoite",
 :admin "Ylläpitäjä",
 :admin-helper-text "Kohteen ylläpidon toteuttava taho",
 :basic-data "Perustiedot",
 :comment "Lisätieto",
 :construction-year "Perustamisvuosi",
 :construction-year-helper-text "Perustamisvuodella tarkoitetaan liikuntatoiminnan aloitusvuotta tässä kohteessa.",
 :contact "Yhteystiedot",
 :contact-helper-text "Yleisesti kohteesta, palveluista tai rakenteista vastaavan organisaation yhteystiedot",
 :creating-planning-site "Olet lisäämässä paikkaa vedos-tilassa analyysityökaluja varten.",
 :delete "Poista {1}",
 :delete-reason "Poiston syy",
 :delete-tooltip "Poista liikuntapaikka...",
 :email-public "Sähköposti (julkinen)",
 :event-date "Muokattu",
 :headline "Liikuntapaikka",
 :major-renovation "Perusparannus",
 :major-renovation-helper-text "Perusparannus on rakennuksen tai sen osan laajamittaista parantamista, joka parantaa kiinteistön laatua, varustetasoa tai energiatehokkuutta vähintään uutta vastaavaksi.",
 :marketing-name "Markkinointinimi",
 :name "Nimi suomeksi",
 :name-localized-en "Nimi englanniksi",
 :name-localized-se "Nimi ruotsiksi",
 :new-site "Uusi liikuntapaikka",
 :new-site-of-type "Uusi {1}",
 :no-permission-tab "Sinulla ei ole oikeutta muokata tämän välilehden tietoja",
 :other-maintenance "Muu kunnostus",
 :owner "Omistaja",
 :owner-helper-text "Kohteessa olevien rakenteiden tai palveluiden omistaja",
 :ownership "Omistus",
 :phone-number "Puhelinnumero",
 :planning-site "Vedos",
 :properties "Lisätiedot",
 :properties2 "Ominaisuudet",
 :property "Ominaisuus",
 :renovation-description "Toimenpiteen kuvaus",
 :renovation-type "Toimenpiteen tyyppi",
 :renovation-year "Vuosi",
 :renovation-years "Perus\u200Bkorjaus\u200Bvuodet",
 :renovations "Toimenpiteet",
 :reservations-link "Tilavaraukset",
 :status "Liikuntapaikan tila",
 :surface-materials "Pintamateriaalit",
 :type "Tyyppi",
 :www "Web-sivu"}
