{:context-keys
 {:city-code "Kunta",
  :type-code "Tyyppi",
  :activity "Aktiviteetti",
  :lipas-id "Paikka",
  :org-id "Organisaatio"},
 :context-value-all "Kaikki",
 :edit-role
 {:edit-header "Muokkaa",
  :new-header "Lisää rooli",
  :stop-editing "Lopeta muokkaus",
  :add "Lisää",
  :choose-role
  "Valitse rooli ensiksi, jotta voi valita mihin resursseihin rooli vaikuttaa."},
 :permissions-old "(vanhat, vain luku)",
 :role "Rooli",
 :role-names
 {:activities-manager "UTP-käyttäjä",
  :images-manager "Kuvalinkkien muokkaaja",
  :ptv-manager "PTV-käyttäjä",
  :admin "Admin",
  :analysis-user "Analyysityökalukäyttäjä",
  :ptv-auditor "PTV-auditoija",
  :org-admin "Organisaation pääkäyttäjä",
  :type-manager "Tyyppikäyttäjä",
  :itrs-assessor "ITRS-arvioija",
  :floorball-manager "Salibandymuokkaaja",
  :site-manager "Paikkakäyttäjä",
  :city-manager "Kuntakäyttäjä",
  :analysis-experimental-user "Analyysityökalukehittäjä",
  :org-user "Organisaatiokäyttäjä",
  :org-editor "Organisaation muokkaaja"},
 :role-descriptions
 {:type-manager "Valitun tyypin liikuntapaikkojen muokkaus",
  :city-manager "Valitun kunnan liikuntapaikkojen muokkaus",
  :site-manager "Valittujen liikuntapaikkojen muokkaus",
  :activities-manager "Ulkoilun ja retkeilyn (UTP) tietojen muokkaus",
  :itrs-assessor "ITRS-luokitustietojen muokkaus",
  :floorball-manager "Salibandyn lisätietojen muokkaus",
  :analysis-user "Analyysityökalujen käyttö",
  :analysis-experimental-user "Analyysi- ja kokeellisten työkalujen käyttö",
  :ptv-manager "PTV-tietojen hallinta",
  :org-editor "Tämän organisaation kohteiden muokkaus"},
 :privileges-label "Sisältää käyttöoikeudet:",
 :privilege-descriptions
 {:site.save-api "Osittaisten muutosten tallentaminen (esim. aktiviteetit, salibandy, ITRS)",
  :site.create-edit "Liikuntapaikkojen lisäys ja muokkaus",
  :site.view "Liikuntapaikkojen tietojen katselu",
  :site.edit-any-status "Myös käytöstä poistettujen liikuntapaikkojen muokkaus",
  :activity.view "Ulkoilun ja retkeilyn (UTP) tietojen katselu",
  :activity.edit "Ulkoilun ja retkeilyn (UTP) tietojen muokkaus",
  :loi.create-edit "Muiden kohteiden luonti ja muokkaus",
  :loi.view "Muiden kohteiden katselu",
  :floorball.view "Salibandyn perustietojen katselu",
  :floorball.view-extended "Salibandyn erityisten lisätietojen katselu",
  :floorball.edit "Salibandyn lisätietojen muokkaus",
  :analysis-tool.use "Analyysityökalujen käyttö",
  :analysis-tool.experimental "Kokeellisten analyysityökalujen käyttö",
  :users.manage "Käyttäjien hallinta",
  :org.member "Organisaation tietojen katselu",
  :org.manage "Organisaation tietojen ja jäsenten hallinta",
  :org.admin "Uusien organisaatioiden luonti",
  :help.manage "Ohjeiden sisällön muokkaus",
  :ptv.manage "PTV-tietojen hallinta",
  :ptv.audit "PTV-kuvausten auditointi",
  :jobs.manage "Taustaprosessien hallinta",
  :itrs.edit "ITRS-luokitustietojen muokkaus"},
 :roles "Roolit"}
