{:access-all-sites
 "Sinulla on pääkäyttäjän oikeudet. Voit muokata kaikkia liikuntapaikkoja.",
 :confirm-magic-link
 "Haluatko varmasti lähettää taikalinkin käyttäjälle {1}?",
 :headline "Admin",
 :magic-link "Taikalinkki",
 :organizations "Organisaatiot",
 :select-magic-link-template "Valitse saatekirje",
 :send-magic-link "Taikalinkki käyttäjälle {1}",
 :users "Käyttäjät"}
