{:retkikartta-checkbox-reminder
 "Muista myös valita \"Saa julkaista Retkikartta.fi -palvelussa\" ruksi seuraavan vaiheen lisätiedoissa.\"",
 :route-part-difficulty "Määritä reittiosan vaativuus",
 :zoom-to-user "Kohdista sijaintiini",
 :remove "Poista",
 :calculate-area "Laske alueen pinta-ala automaattisesti",
 :modify-polygon "Muokkaa aluetta",
 :draw-polygon "Lisää alue",
 :travel-direction "Määritä kulkusuunta",
 :retkikartta-problems-warning
 "Korjaa kartalle merkityt ongelmat, jos haluat, että kohde siirtyy Retkikartalle.",
 :edit-later-hint "Voit muokata geometriaa myös myöhemmin",
 :center-map-to-site "Kohdista kartta kohteeseen",
 :draw-hole "Lisää reikä",
 :split-linestring "Katkaise reittiosa",
 :delete-vertices-hint
 "Yksittäisiä pisteitä voi poistaa pitämällä alt-näppäintä pohjassa ja klikkaamalla pistettä.",
 :calculate-route-length "Laske reitin pituus automaattisesti",
 :remove-polygon "Poista alue",
 :modify-linestring "Muokkaa reittiä",
 :download-gpx "Lataa GPX",
 :add-to-map "Lisää kartalle",
 :bounding-box-filter "Hae kartan alueelta",
 :remove-linestring "Poista reittiosa",
 :calculate-count "Laske lukumäärä automaattisesti",
 :draw-geoms "Piirrä",
 :confirm-remove "Haluatko varmasti poistaa valitun geometrian?",
 :draw "Lisää kartalle",
 :draw-linestring "Lisää reittiosa",
 :modify "Voit raahata pistettä kartalla",
 :zoom-to-site "Kohdista kartta kohteeseen",
 :kink
 "Muuta reitin kulkua niin, että reittiosa ei risteä itsensä kanssa. Voit tarvittaessa katkaista reitin useampaan osaan.",
 :zoom-closer "Kartta täytyy zoomata lähemmäs"}
