{:addresses "Lähimmät osoitteet",
 :choose-address "Valitse osoite",
 :helper-text1
 "Työkalu hakee lähimmät osoitteet liikuntapaikan geometrian perusteella.",
 :helper-text2
 "Valitse katuosoite parhaan tietosi mukaan. Voit täydentää osoitenumeron OK-napin painamisen jälkeen.",
 :tooltip "Selvitä osoite automaattisesti"}
