{:deleting-tooltip "Poistotyökalu valittu",
 :download-backup-tooltip "Lataa varmuuskopio",
 :drawing-hole-tooltip "Reikäpiirtotyökalu valittu",
 :drawing-tooltip "Piirtotyökalu valittu",
 :edit-tool "Muokkaustyökalu",
 :importing-tooltip "Tuontityökalu valittu",
 :restore-backup-tooltip "Palauta varmuuskopio",
 :route-part-difficulty-tooltip "Reittiosan vaativuus työkalu valittu",
 :itrs-segment-tooltip "ITRS-luokitustyökalu valittu",
 :selecting "Valintatyökalu valittu",
 :simplify "Yksinkertaista",
 :simplifying "Yksinkertaistutyökalu valittu",
 :splitting-tooltip "Katkaisutyökalu valittu",
 :travel-direction-tooltip "Kulkusuuntatyökalu valittu"}
