{:description "Kuvaus",
 :descriptions "Kuvaukset",
 :keywords "Avainsanat",
 :loading-from-ptv "Haetaan tietoja PTV:stä...",
 :service "Palvelu",
 :service-channel "Palvelupaikka",
 :service-channels "Palvelupaikat",
 :services "Palvelut",
 :settings "Asetukset",
 :sports-sites "Liikuntapaikat",
 :summary "Tiivistelmä",
 :tools "Massatyökalut",
 :tooltip "Vie Palvelutietovarantoon",
 :wizard "Käyttöönotto"}
