{:all-services-exist
 "Kaikki tarvittavat palvelut on PTV:ssä. Hieno juttu!",
 :assign-services-to-sports-sites "Liitä liikuntapaikat palveluihin",
 :attach-to-conflicting-service-channel "Liitä tähän palvelupaikkaan",
 :export-service-locations-to-ptv "Vie palvelutietovarantoon",
 :export-services-to-ptv "Vie palvelutietovarantoon",
 :generate-descriptions "Laadi kuvaukset",
 :generate-descriptions-helper1
 "Palvelut voidaan perustaa PTV:hen, kun niissä on vähintään suomenkielinen kuvaus ja tiivistelmä. LIPAS täydentää palveluluokituksen, avainsanat ja muut metatiedot automaattisesti.",
 :generate-descriptions-helper2
 "Paina \"Laadi kuvaukset\" -painiketta luodaksesi kuvaukset automaattisesti tekoälyn avulla. Kuvaukset laaditaan Lipakseen tallennettujen liikuntapaikkojen pohjalta.",
 :generate-descriptions-helper3
 "Palvelupaikat voidaan perustaa PTV:hen kun niissä on vähintään suomenkielinen kuvaus ja tiivistelmä. LIPAS täydentää palveluluokituksen, avainsanat ja muut metatiedot automaattisesti.",
 :integrate-service-locations "Luo liikuntapaikoista palvelupaikat",
 :service-channel-name-conflict
 "PTV:ssä on jo olemassa palvelupaikka nimellä {1}.",
 :services-to-add "Perustettavat palvelut",
 :unselect-helper
 "Jos et halua viedä tiettyä kohdetta, voit avata\n     kohteen oikealta ja laittaa liukukytkimen pois päältä."}
