{:all-services-exist
 "Valitsemasi tyyppiluokan palvelut löytyvät PTV:stä. Voit siirtyä seuraavaan vaiheeseen.",
 :attach-to-conflicting-service-channel "Liitä tähän palvelupaikkaan",
 :export-service-locations-to-ptv "Vie palvelutietovarantoon",
 :export-services-to-ptv "Vie palvelutietovarantoon",
 :generate-descriptions "Laadi kuvaukset",
 :generate-descriptions-all "Laadi kuvaukset kaikille",
 :regenerate-descriptions "Päivitä kuvaukset",
 :generate-descriptions-helper1
 "Palvelut voidaan perustaa PTV:hen, kun niissä on vähintään suomenkielinen kuvaus ja tiivistelmä. LIPAS täydentää palveluluokituksen, avainsanat ja muut metatiedot automaattisesti.",
 :generate-descriptions-helper2
 "Paina \"Laadi kuvaukset\" -painiketta luodaksesi kuvaukset automaattisesti tekoälyn avulla. Kuvaukset laaditaan Lipakseen tallennettujen liikuntapaikkojen pohjalta.",
 :generate-descriptions-helper3
 "Palvelupaikat voidaan perustaa PTV:hen kun niissä on vähintään suomenkielinen kuvaus ja tiivistelmä. LIPAS täydentää palveluluokituksen, avainsanat ja muut metatiedot automaattisesti.",
 :integrate-service-locations "Luo liikuntapaikoista palvelupaikat",
 :service-channel-name-conflict
 "PTV:ssä on jo olemassa palvelupaikka nimellä {1}.",
 :services-to-add "Perustettavat palvelut",
 :export-error-try-again
 "Vienti epäonnistui. Yritä uudelleen tai ota yhteyttä ylläpitoon, jos ongelma toistuu.",
 :no-sports-sites-for-types
 "Valitsemillasi tyyppiluokilla ei ole kunnassa liikuntapaikkoja Lipaksessa.",
 :link-to-existing-service "Löytyykö palvelu jo PTV:stä?",
 :select-existing-service "Valitse olemassa oleva palvelu",
 :linked-to-service "Linkitetty palveluun",
 :mapped-services "Linkitetyt palvelut",
 :translate-to-other-langs "Käännä muille kielille",
 :translate-to-other-langs-tooltip "Käännä nykyisen välilehden tekstit muille kielille. Hyödyllinen kun olet muokannut tekstejä ja haluat päivittää käännökset.",
 :unlink-service "Poista linkitys",
 :step1-description "Valitse vietäväksi kaikki kunnan liikuntapaikat kerralla tai rajaa vienti tiettyihin tyyppiluokkiin. Viimeisessä vaiheessa voit vielä jättää yksittäisiä liikuntapaikkoja pois viennistä.",
 :integrate-all "Vie kaikki liikuntapaikat",
 :integrate-selected "Valitse tyyppiluokat",
 :select-sub-categories "Valitse tyyppiluokat",
 :unselect-helper
 "Jos et halua viedä tiettyä kohdetta, voit avata\n     kohteen oikealta ja laittaa liukukytkimen pois päältä."
 :step3-instruction "Avaa liikuntapaikka listasta, laadi tai kirjoita kuvaukset ja kytke integraatio päälle liukukytkimellä."}
