{:export "Vie",
 :export-disclaimer
 "Olen lukenut kuvaukset ja haluan, että tämä kohde viedään PTV:hen.",
 :update-disclaimer
 "Olen lukenut kuvaukset ja haluan, että tämän kohteen tiedot päivitetään PTV:hen.",
 :generate-with-ai "Laadi kuvaukset tekoälyllä",
 :select-org "Valitse organisaatio",
 :select-service "Valitse palvelu",
 :change-service "Muuta palvelua",
 :attach-existing-service-channel "Liitä olemassa olevaan palvelupaikkaan...",
 :new-service-channel-will-be-created "Uusi palvelupaikka luodaan PTV:hen viennin yhteydessä.",
 :change-service-channel "Muuta palvelupaikkaa",
 :select-service-channel "Valitse palvelupaikka",
 :sync-now "Synkronoi nyt"}
