{:canceling "Peruutetaan... Odota hetki",
 :headline "Laadi palvelupaikkojen kuvaukset tekoälyn avulla",
 :start "Aloita",
 :start-helper
 "Voit muokata tekoälyn ehdotuksia sitä mukaa kuin ne valmistuvat."}
