{:classes "Palveluluokat",
 :services-explanation "Organisaation PTV-palvelut, joihin liikuntapaikat liitetään palvelupaikkoina. Lipakseen liitetyt palvelut on luotu integraation kautta.",
 :no-lipas-services "Lipakseen liitettyjä palveluita ei ole vielä luotu.",
 :no-services "Organisaatiolla ei ole palveluita PTV:ssä.",
 :use-wizard-to-create "Luo palvelut Käyttöönotto-välilehden ohjatun toiminnon avulla.",
 :show-only-lipas-managed "Näytä vain Lipakseen liitetyt palvelut"
 :add-service "Lisää palvelu"
 :create-new "Luo uusi palvelu"
 :link-existing "Liitä olemassa oleva PTV-palvelu"
 :select-sub-category "Valitse tyyppiluokka"
 :select-service "Valitse palvelu PTV:stä"
 :needs-service-helper "Liikuntapaikan tulee olla kytkettynä PTV-palveluun. Valitse olemassa oleva palvelu tai luo uusi."
 :link-sub-category "Liitä tyyppiluokkaan (valinnainen)"
 :link-sub-category-helper "Jos valitset tyyppiluokan, palvelu tarjotaan oletusvalintana kyseisen tyyppiluokan liikuntapaikoille Liikuntapaikat-välilehdellä. Jos jätät tyhjäksi, palvelu pitää valita kullekin liikuntapaikalle erikseen."
 :link-confirm "Liitä palvelu"}
