{:label "Valitse liikuntapaikat",
 :all "Kaikki",
 :sync-enabled "Vietäväksi valitut",
 :no-existing-description "Kaikki joista kuvaus puuttuu",
 :sync-enabled-no-existing-description
 "Vietäväksi valitut joista kuvaus puuttuu"}
