{:contacts "Yhteys​tiedot",
 :download-as-excel "Luo raportti",
 :excel-limit-exceeded
 "Liian suuri Excel-tiedosto (> 10 000 hakutulosta). Rajaa hakua tai valitse eri tiedostomuoto.",
 :file-format "Tiedostotyyppi",
 :select-fields "Valitse raportin kentät",
 :selected-fields "Valitut kentät",
 :shortcuts "Pikavalinnat",
 :tooltip "Luo Excel-raportti hakutuloksista"}
