{:change-password "Vaihda salasana",
 :enter-new-password "Syötä uusi salasana",
 :get-new-link "Tilaa uusi vaihtolinkki",
 :headline "Unohtuiko salasana?",
 :helper-text
 "Lähetämme salasanan vaihtolinkin sinulle sähköpostitse.",
 :password-helper-text "Salasanassa on oltava vähintään 6 merkkiä",
 :reset-link-sent "Linkki lähetetty! Tarkista sähköpostisi.",
 :reset-success
 "Salasana vaihdettu! Kirjaudu sisään uudella salasanalla."}
