{:disclaimer
 "Kun ”Saa julkaista Retkikartassa” -ruutu  on rastitettu, luontoliikuntapaikan tiedot siirretään  automaattisesti Metsähallituksen ylläpitämään Retkikartta.fi  -karttapalveluun kerran vuorokaudessa. Sitoudun päivittämään  luontoliikuntapaikan tietojen muutokset viipymättä  Lippaaseen. Paikan hallinnoijalla on vastuu tietojen  oikeellisuudesta, paikan turvallisuudesta, palautteisiin  vastaamisesta ja mahdollisista yksityisteihin liittyvistä  kustannuksista."}
