{:add-property-filter "Lisää suodatin",
 :boolean-filter-all "Kaikki",
 :boolean-filter-no "Ei",
 :boolean-filter-yes "Kyllä",
 :clear-filters "Poista rajaukset",
 :clear-property-filters "Poista lisäsuodattimet",
 :contains-text "Hakusana...",
 :display-closest-first "Näytä lähimmät kohteet ensin",
 :filters "Rajaa hakua",
 :harrastuspassi-filter "Harrastuspassi.fi-kohteet",
 :headline "Haku",
 :list-view "Näytä hakutulokset listana",
 :page-size "Näytä kerralla",
 :pagination "Tulokset {1}-{2}",
 :permissions-filter "Näytä vain kohteet joita voin muokata",
 :placeholder "Etsi...",
 :results "Hakutulokset",
 :results-count "{1} hakutulosta",
 :retkikartta-filter "Retkikartta.fi-kohteet",
 :school-use-filter "Koulujen liikuntapaikat",
 :search "Hae",
 :search-more "Hae lisää...",
 :table-view "Näytä hakutulokset taulukossa"}
