{:table-view "Näytä hakutulokset taulukossa",
 :headline "Haku",
 :results-count "{1} hakutulosta",
 :harrastuspassi-filter "Harrastuspassi.fi-kohteet",
 :placeholder "Etsi...",
 :retkikartta-filter "Retkikartta.fi-kohteet",
 :filters "Rajaa hakua",
 :search-more "Hae lisää...",
 :page-size "Näytä kerralla",
 :search "Hae",
 :permissions-filter "Näytä vain kohteet joita voin muokata",
 :display-closest-first "Näytä lähimmät kohteet ensin",
 :list-view "Näytä hakutulokset listana",
 :pagination "Tulokset {1}-{2}",
 :school-use-filter "Koulujen liikuntapaikat",
 :clear-filters "Poista rajaukset",
 :results "Hakutulokset"}
