{:headline "Korkeusprofiili",
 :distance-from-start-m "Etäisyys alusta (m)",
 :distance-from-start-km "Etäisyys alusta (km)",
 :height-from-sea-level-m "Korkeus merenpinnasta (m)",
 :total-ascend "Nousua yhteensä",
 :total-descend "Laskua yhteensä"}
