{:description
 "Kuntien viralliset tilinpäätöstiedot liikunta- ja  nuorisotoimien osalta. Kunta voi seurata omaa menokehitystään ja  vertailla sitä muihin kuntiin.",
 :filter-types "Rajaa tyypit",
 :length-km-sum "Liikuntareittien pituus km yhteensä",
 :headline "Tilastot",
 :select-years "Valitse vuodet",
 :browse-to "Siirry tilastoihin",
 :select-issuer "Valitse myöntäjä",
 :select-unit "Valitse yksikkö",
 :general-disclaimer-1
 "Lipas.fi – Suomen liikuntapaikat, ulkoilureitit ja virkistysalueet: Nimeä 4.0 Kansainvälinen (CC BY 4.0).",
 :bullet3 "Avustukset",
 :general-disclaimer-2
 "Voit vapaasti käyttää, kopioida, jakaa ja muokata aineistoa. Aineistolähteeseen tulee viitata esimerkiksi näin: Liikuntapaikat: Lipas.fi Jyväskylän yliopisto, otospäivä. Lisätietoja Creative Commons. https://creativecommons.org/licenses/by/4.0/deed.fi",
 :finance-stats "Talous​tiedot",
 :select-city "Valitse kunta",
 :area-m2-min "Liikuntapinta-ala m² min",
 :filter-cities "Rajaa kunnat",
 :select-metrics "Valitse suureet",
 :area-m2-count "Liikuntapinta-ala m² ilmoitettu lkm",
 :show-ranking "Näytä ranking",
 :age-structure-stats "Rakennus​vuodet",
 :subsidies-count "Avustusten lkm",
 :area-m2-sum "Liikuntapinta-ala m² yhteensä",
 :select-metric "Valitse suure",
 :finance-disclaimer
 "Aineistolähde: Tilastokeskus avoimet tilastoaineistot ja Valtiokonttori, tutkihallintoa.fi/Kunnan tilinpäätöstiedot palveluluokkakohtaisesti (käyttötalous, investoinnit), 29.12.2022. Huomaa, että kunnat vastaavat itse virallisten taloustietojensa tallentamisesta Tilastokeskuksen tietokantaan Tilastokeskuksen ohjeiden perusteella. Tietojen yhdenmukaisuudesta tai aikasarjojen jatkuvuudesta ei voida antaa takeita.",
 :general-disclaimer-3
 "Huomaa, että Lipas-tietokannan tiedot perustuvat kuntien ja muiden liikuntapaikkojen omistajien Lipas-tietokantaan syöttämiin tietoihin sekä Jyväskylän yliopiston Lipas-ylläpitäjien tuottamaan aineistoon. Tietojen kattavuutta, virheettömyyttä, ajantasaisuutta ja yhdenmukaisuutta ei voida taata. Lipas.fi –tilastot -osiossa tilastojen laskenta perustuu tietokantaan tallennettuihin tietoihin. Mahdolliset puuttuvat tiedot vaikuttavat laskelmiin.",
 :bullet2 "Liikuntapaikkatilastot",
 :area-m2-max "Liikuntapinta-ala m² max",
 :select-grouping "Ryhmittely",
 :select-city-service "Valitse toimi",
 :region "Alue",
 :show-comparison "Näytä vertailu",
 :length-km-avg "Liikuntareitin pituus km keskiarvo",
 :sports-sites-count "Liikunta- ja ulkoilupaikkojen lkm",
 :length-km-min "Liikuntareitin pituus km min",
 :country-avg "(maan keskiarvo)",
 :length-km-count "Liikuntareitin pituus ilmoitettu lkm",
 :bullet4 "Liikunta- ja ulkoilupaikkojen rakennusvuodet",
 :population "Asukasluku",
 :sports-stats "Liikunta​paikat",
 :disclaimer-headline "Tietolähde",
 :select-cities "Valitse kunnat",
 :subsidies "Avustukset",
 :select-interval "Valitse aikaväli",
 :bullet1 "Liikunta- ja nuorisotoimen taloustiedot",
 :area-m2-avg "Liikuntapinta-ala m² keskiarvo",
 :age-structure "Liikunta​paikkojen rakennus​vuodet",
 :length-km-max "Liikuntareitin pituus km max",
 :total-amount-1000e "Yht. (1000 €)",
 :city-stats "Kunta​tilastot"}
