{:active "Toiminnassa",
 :planned "Suunniteltu",
 :incorrect-data "Väärä tieto",
 :out-of-service-permanently "Poistettu käytöstä pysyvästi",
 :out-of-service-temporarily "Poistettu käytöstä väliaikaisesti"}
