{:description
 "Ajantasaisen tietopaketin löydät UKTY:n ja SUH:n sivuilta.",
 :headline "Energia​info",
 :headline-short "Info",
 :suh-link "Siirry SUH:n sivuille",
 :ukty-link "Siirry UKTY:n sivuille"}
