{:basic-data-of-halls "Uimahallien perustiedot",
 :description
 "Uimahalliportaali sisältää hallien perus- ja  energiankulutustietoja sekä ohjeita energiatehokkuuden  parantamiseen.",
 :entering-energy-data "Energiankulutustietojen syöttäminen",
 :headline "Uimahalli​portaali",
 :updating-basic-data "Perustietojen päivitys"}
