{:two-years-ago "2 vuotta sitten",
 :date "Päivämäärä",
 :hour "Tunti",
 :this-month "Tässä kuussa",
 :time "Aika",
 :less-than-hour-ago "Alle tunti sitten",
 :start "Alkoi",
 :this-week "Tällä viikolla",
 :today "Tänään",
 :month "Kuukausi",
 :long-time-ago "Kauan sitten",
 :year "Vuosi",
 :just-a-moment-ago "Hetki sitten",
 :yesterday "Eilen",
 :three-years-ago "3 vuotta sitten",
 :end "Päättyi",
 :this-year "Tänä vuonna",
 :last-year "Viime vuonna"}
