{:count "Tyyppejä yhteensä",
 :geometry "Geometria",
 :main-categories "Pääryhmät",
 :main-category "Pääryhmä",
 :name "Liikuntapaikkatyyppi",
 :sports-site-types "Liikuntapaikkatyypit"
 :sub-category "Alaryhmä",
 :no-sub-categories "Ei alaryhmiä",
 :type-code "Tyyppikoodi"}
