{:admin-page-link "Siirry admin-sivulle",
 :data-ownership "Käyttöehdot",
 :front-page-link "Siirry etusivulle",
 :greeting "Hei {1} {2}!",
 :headline "Oma sivu",
 :ice-stadiums-link "Jäähallit",
 :promo-headline "Ajankohtaista",
 :promo1-link "Näytä TEAviisari-kohteet jotka voin päivittää",
 :promo1-text "Avaa PDF",
 :promo1-topic "TIEDOTE LIPAS-TYYPPILUOKKAPÄIVITYKSISTÄ (11.1.2022)",
 :swimming-pools-link "Uimahallit"}
