{:update-n-sites "Uppdatera {1} sportplatser"
 :duplicate "Kopiera",
 :resurrect "Öppna huvudmeny",
 :select-year "Välj år",
 :select-owners "Välj ägare",
 :select-admins "Välj administratörer",
 :select-tool "Välj verktyg",
 :save-draft "Spara utkast",
 :redo "Gör igen",
 :open-main-menu "Öppna huvudmeny",
 :back-to-listing "Till listan",
 :filter-surface-materials "Avgränsa enligt ytmaterial",
 :browse "flytta dig",
 :select-type "Välj typ",
 :edit "Redigera",
 :filter-construction-year "Avgränsa enligt byggnadsår",
 :submit "Skicka",
 :choose-energy "Välj energi",
 :delete "Radera",
 :browse-to-map "Flytta dig till kartan",
 :save "Spara",
 :close "Stäng",
 :select-all "Välj allt",
 :filter-area-m2 "Avgränsa enligt areal m²",
 :show-account-menu "Öppna kontomeny",
 :fill-required-fields "Fyll i obligatoriska fält",
 :undo "Ångra",
 :browse-to-portal "Flytta dig till portalen",
 :download-excel "Ladda",
 :fill-data "Fyll i informationen",
 :back "Tillbaka",
 :select-statuses "Status",
 :select-cities "Välj kommuner",
 :select-hint "Välj...",
 :discard "Förkasta",
 :more "Mer...",
 :cancel "Avbryta",
 :select-columns "Välj datafält",
 :add "Tillägg ",
 :show-all-years "Visa alla år",
 :download "Ladda ner",
 :select-hall "Välj hall",
 :clear-selections "Ta bort val",
 :select "Välj",
 :select-types "Välj typer"
 :filter "Filtrera"
 :deselect-all "Avmarkera alla"
 :update "Uppdatera"}
