{:hall-heating "",
 :maintenance-water-heating "",
 :other-space-heating "",
 :service-water-heating "Nej",
 :snow-melting "Vill du förkasta ändringar?",
 :track-heating "Vill du förkasta ändringar?"}
