{:service-water-heating "Nej",
 :snow-melting "Vill du förkasta ändringar?",
 :track-heating "Vill du förkasta ändringar?",
 :maintenance-water-heating "",
 :hall-heating "",
 :other-space-heating ""}
