{:delete-confirm "Vill du verkligen ta bort raden?",
 :discard-changes? "Vill du förkasta ändringar?",
 :headline "Bekräftelse",
 :no "Nej",
 :resurrect? "Vill du spara grunddata?",
 :save-basic-data? "Vill du spara grunddata?",
 :yes "Ja"}
