{:data-ownership
 "LIPAS-geografiska informationssystemets datalager ägs och förvaltas av Jyväskylä universitet. Jyväskylä universitet förbehåller sig rätten till allt innehåll, information och material som lagts till i systemet och som skapats under systemets utveckling. Användaren som lägger till material i systemet ansvarar för att materialet är korrekt och inte kränker tredje parts upphovsrätt. Jyväskylä universitet ansvarar inte för krav från tredje part avseende materialet. Genom att lägga till data i LIPAS-geografiska informationssystemet anses användaren ha godkänt användningen av det tillagda materialet i systemet som en del av datalagret. De data som lagras i LIPAS-databasen är öppna och fritt tillgängliga enligt CC 4.0 Erkännande-licensen.",
 :headline "OBS!",
 :test-version "Automatisk"}
