{:description "Beskrivning",
 :hall "Hall",
 :women "Kvinnor",
 :headline "Rubrik",
 :total-short "Totalt",
 :done "Färdig",
 :updated "Uppdaterad",
 :name "Namn",
 :reported "Rapporterad",
 :type "Typ",
 :last-modified "Senaste redigerad",
 :here "här",
 :less "Mindre",
 :event "Händelse",
 :structure "Struktur",
 :general-info "Allmänna uppgifter",
 :comment "Kommentar",
 :measures "Mått",
 :age-anonymized "Ålder anonymiserad",
 :more "Mer",
 :men "Män"}
