{:available-pages "Sidor i detta avsnitt",
 :headline "Hjälp",
 :manage-content "Redigera hjälpinnehåll",
 :permissions-help
 "Om du behöver ytterligare användarrättigheter, kontakt ",
 :permissions-help-body
 "Jag behöver användarrättigheter till följande platser:",
 :permissions-help-subject "Jag behöver mera användarrättigheter",
 :privacy-policy "Privacy policy"
 :data-model "Datamodell"
 :data-model-excel "Ladda ner beskrivningen av Lipas datamodell i Excel-format via knappen nedan."}
