{:available-pages "Sidor i detta avsnitt",
 :headline "Hjälp",
 :manage-content "Redigera hjälpinnehåll",
 :privacy-policy "Privacy policy"
 :data-model "Datamodell"
 :data-model-excel "Ladda ner beskrivningen av Lipas datamodell i Excel-format via knappen nedan."}
