{:basic-data-of-halls "Grunddata av ishallar",
 :description "Stor tävlingshall > 3000",
 :entering-energy-data "Ishallsportal",
 :headline "Ishallsportal",
 :size-category "Storlek kategori",
 :updating-basic-data "Uppdatering av grunddata"}
