{:basic-data-of-halls "Grunddata av ishallar",
 :comparison "Jämförelse av hallar",
 :competition "Tävlingsishall < 3000 person",
 :description "Stor tävlingshall > 3000",
 :entering-energy-data "Ishallsportal",
 :headline "Ishallsportal",
 :large "Stor tävlingshall > 3000",
 :size-category "Storlek kategori",
 :small "Liten tävlingshall > 500 person",
 :updating-basic-data "Uppdatering av grunddata",
 :video "Video",
 :video-description "Titta",
 :watch "Titta"}
