{:context-keys
 {:city-code "Kommun",
  :type-code "Typ",
  :activity "Aktivitet",
  :lipas-id "Plats"},
 :context-value-all "Alla",
 :edit-role
 {:edit-header "Redigera",
  :new-header "Lägg till roll",
  :stop-editing "Avsluta redigering",
  :add "Lägg till",
  :choose-role
  "Välj roll först för att välja vilka resurser rollen påverkar."},
 :permissions-old "(gamla, endast läs)",
 :role "Roll",
 :role-names
 {:activities-manager "UTP-administratör",
  :ptv-manager "PTV-administratör",
  :admin "Admin",
  :analysis-user "Analysverktygsanvändare",
  :org-admin "Organisationsadministratör",
  :type-manager "Typadministratör",
  :itrs-assessor "ITRS-bedömare",
  :floorball-manager "Innebandyredigerare",
  :site-manager "Platsadministratör",
  :city-manager "Stadsadministratör",
  :org-user "Organisationsanvändare",
  :org-editor "Organisationsredigerare"},
 :role-descriptions
 {:type-manager "Redigering av anläggningar av vald typ",
  :city-manager "Redigering av vald kommuns anläggningar",
  :site-manager "Redigering av valda anläggningar",
  :activities-manager "Redigering av frilufts- och rekreationsuppgifter (UTP)",
  :itrs-assessor "Redigering av ITRS-klassificeringsuppgifter",
  :floorball-manager "Redigering av innebandyns tilläggsuppgifter",
  :analysis-user "Användning av analysverktyg",
  :analysis-experimental-user "Användning av analys- och experimentella verktyg",
  :ptv-manager "Hantering av PTV-uppgifter",
  :org-editor "Redigering av denna organisations anläggningar"},
 :privileges-label "Innehåller behörigheter:",
 :privilege-descriptions
 {:site.save-api "Spara delvisa ändringar (t.ex. aktiviteter, innebandy, ITRS)",
  :site.create-edit "Tillägg och redigering av anläggningar",
  :site.view "Visning av anläggningsuppgifter",
  :site.edit-any-status "Redigering även av anläggningar som tagits ur bruk",
  :activity.view "Visning av frilufts- och rekreationsuppgifter (UTP)",
  :activity.edit "Redigering av frilufts- och rekreationsuppgifter (UTP)",
  :loi.create-edit "Skapande och redigering av övriga objekt",
  :loi.view "Visning av övriga objekt",
  :floorball.view "Visning av innebandyns basuppgifter",
  :floorball.view-extended "Visning av innebandyns särskilda tilläggsuppgifter",
  :floorball.edit "Redigering av innebandyns tilläggsuppgifter",
  :analysis-tool.use "Användning av analysverktyg",
  :analysis-tool.experimental "Användning av experimentella analysverktyg",
  :users.manage "Hantering av användare",
  :org.member "Visning av organisationens uppgifter",
  :org.manage "Hantering av organisationens uppgifter och medlemmar",
  :org.admin "Skapande av nya organisationer",
  :help.manage "Redigering av hjälpinnehåll",
  :ptv.manage "Hantering av PTV-uppgifter",
  :ptv.audit "Granskning av PTV-beskrivningar",
  :jobs.manage "Hantering av bakgrundsprocesser",
  :itrs.edit "Redigering av ITRS-klassificeringsuppgifter"},
 :roles "Roller"}
