{:accessibility "Tillgänglighet",
 :add-new "Lägg till en idrottsanläggning",
 :add-new-planning
 "Lägg till en motions- eller friluftsplats i utkastläge",
 :admin "Administratör",
 :admin-helper-text "Enhet ansvarig för underhåll av objektet",
 :basic-data "Grunddata",
 :comment "Ytterligare information",
 :construction-year "Byggår",
 :contact "Kontaktinformation",
 :contact-helper-text
 "Allmänt kontaktuppgifter för organisationen som ansvarar för anläggningen, tjänsterna eller strukturerna.",
 :creating-planning-site
 "Du håller på att lägga till en plats i utkastläge för analysverktyg.",
 :delete "Ta bort {1}",
 :delete-reason "Orsak",
 :delete-tooltip "Ta bort idrottsanläggningen...",
 :details-in-portal "Visa alla ytterligare information",
 :editable-sports-sites "Redigerbara idrottsplatser",
 :email-public "E-post (publik)"
 :event-date "Redigerad",
 :headline "Idrottsanläggning",
 :id "LIPAS-ID",
 :marketing-name "Varumärkesnamn",
 :name "Namn på finska",
 :name-localized-en "Namn på engelska",
 :name-localized-se "Namn på svenska",
 :name-short "Namn",
 :new-site "Ny idrottsplats",
 :new-site-of-type "Ny {1}",
 :no-permission-tab
 "Du har inte behörighet att redigera informationen på denna flik",
 :itrs-edit-requires-role "Redigering av ITRS-klassificering kräver rollen ITRS-bedömare",
 :owner "Ägare",
 :owner-helper-text "Ägare av strukturer eller tjänster i objektet",
 :ownership "Ägare",
 :phone-number "Telefonnummer",
 :planning-site "Utkast",
 :properties "Ytterligare information",
 :properties2 "Funktioner",
 :property "Funktion",
 :renovation-years "Renoveringsår",
 :reservations-link "Bokningar",
 :status "Status",
 :surface-materials "Ytmaterial",
 :type "Typ",
 :www "Webbsida"}
