{:headline "LIPAS i siffror"
 :sports-facilities "Idrottsanläggningar"
 :municipalities "Kommuner"
 :updated-last-year "Uppdateringar senaste 12 mån"
 :updaters-last-year "Uppdaterare senaste 12 mån"
 :last-updated "Senaste objektet uppdaterat"
 :today "idag"
 :yesterday "igår"
 :days-ago "{1} dagar sedan"}
