{:platforms-10m-count "Antalet 10 m hopplatser",
 :platforms-1m-count "Antalet 1 m hopplatser",
 :platforms-3m-count "Antalet 3 m hopplatser",
 :platforms-5m-count "Antalet 5 m hopplatser",
 :platforms-7.5m-count "Antalet 7.5 m hopplatser"}
