{:check-to-update-field "Markera för att uppdatera detta fält"
 :field-will-be-updated "Detta fält kommer att uppdateras"
 :field-will-not-change "Detta fält kommer inte att ändras"
 :n-sites-selected "{1} idrottsplatser valda"
 :select-fields-to-update "Välj fält att uppdatera:"
 :select-sites-to-update "Välj idrottsplatser för uppdatering"
 :selected-fields-count "{1} fält valda"
 :selective-update-info "Välj vilka fält du vill uppdatera. Endast markerade fält kommer att ändras för alla valda idrottsplatser."
 :step-enter-info "Ange kontaktuppgifter"
 :step-select-sites "Välj idrottsplatser"
 :step-summary "Sammanfattning"
 :update-completed "Uppdatering klar!"
 :update-more-sites "Uppdatera fler idrottsplatser"
 :update-n-sites "Uppdatera {1} idrottsplatser"
 :updated-fields "Uppdaterade fält"
 :updated-sites-list "Uppdaterade idrottsplatser"
 :will-clear-field "Fältet kommer att tömmas"
 :will-update-n-sites "Uppdaterar {1} idrottsplatser"
 :will-update-to "Uppdateras till:"}