{:headline "LIPAS i siffror"
 :sports-facilities "Idrotts- eller friluftsanläggningar"
 :municipalities "Kommuner med uppdaterad data senaste året"
 :updated-last-year "Underhållna objekt senaste året"
 :updaters-last-year "Dataunderhållare senaste året"
 :last-updated "Senaste objektet uppdaterat"
 :today "idag"
 :yesterday "igår"
 :days-ago "{1} dagar sedan"}
