{:headline "Förhållanden"
 :derive-button "Beräkna från förhållandeuppgifterna"
 :derive-info
 "Anläggningen har planspecifika förhållandeuppgifter. Du kan beräkna värden för en del av tilläggsuppgifterna utifrån dem. Fälten förblir redigerbara efter beräkningen."
 :disclaimer-1
 "Fliken Förhållanden innehåller idrottsspecifik information om anläggningen, till exempel förhållanden och krav som gäller vid matcher och andra idrottsevenemang. Uppgifterna kompletterar anläggningens grundläggande information och kan omfatta innehåll som underhålls av specialidrottsförbund eller andra organisationer."
 :disclaimer-2
 "Informationen är inte avsedd att underhållas av anläggningens ägare (t.ex. en kommun). I stället avtalas ansvaret för underhållet separat med den organisation som tillhandahåller uppgifterna."
 :disclaimer-3
 "Uppgifterna berikar den samlade informationen om anläggningen och stöder samtidigt informationsleverantörens egen verksamhet. All publicerad information är öppen data och fritt tillgänglig för återanvändning av andra användare."}
