{:admin-only-message "PTV-konfiguration kan endast redigeras av LIPAS-administratörer."
 :cities-label "Kommuner"
 :english-label "Engelska (en)"
 :finnish-label "Finska (fi)"
 :integration-enabled "PTV-integration är aktiverad för denna organisation."
 :integration-not-enabled-1 "PTV-integration är inte aktiverad för denna organisation. "
 :integration-not-enabled-2 " om du vill aktivera den."
 :languages-label "Språk"
 :municipality-codes-title "Kommunkoder"
 :org-id-helper "Organisationens UUID i PTV-systemet"
 :org-id-label "PTV-organisations-ID (UUID)"
 :org-id-placeholder "t.ex. 92374b0f-7d3c-4017-858e-666ee3ca2761"
 :ownership-types-title "Ägartyper"
 :owners-label "Ägare"
 :please-contact "Vänligen kontakta "
 :prefix "PTV "
 :prod-org-id-helper "Speciellt UUID som används i produktion för apiUserOrganisation-parameter"
 :prod-org-id-label "Produktionsautentiseringsorganisations-ID (UUID)"
 :prod-org-id-placeholder "t.ex. d0a60c4c-89ff-4c09-a948-a2ecca780105"
 :save-configuration "Spara PTV-konfiguration"
 :supported-languages-title "Stödda språk"
 :swedish-label "Svenska (se)"
 :sync-enabled-label "PTV-synkronisering aktiverad"
 :test-credentials-title "Testmiljöns autentiseringsuppgifter"
 :test-password-label "Testlösenord"
 :test-password-placeholder "Ange testmiljöns lösenord"
 :test-username-label "Testanvändarnamn"
 :test-username-placeholder "t.ex. API15@testi.fi"}