{:air-humidity-max "",
 :air-humidity-min "",
 :average-water-consumption-l "",
 :daily-maintenances-week-days "",
 :daily-maintenances-weekends "",
 :daily-open-hours "",
 :headline "",
 :ice-average-thickness-mm "",
 :ice-resurfacer-fuel "",
 :ice-surface-temperature-c "",
 :maintenance-water-temperature-c "",
 :open-months "",
 :skating-area-temperature-c "",
 :stand-temperature-c "",
 :weekly-maintenances ""}
