{:headline "LIPAS i siffror"
 :sports-facilities "idrottsanläggningar"
 :municipalities "kommuner"
 :updated-last-year "uppdaterade senaste 12 mån"
 :km-of-routes "km rutter"
 :last-updated "Senast uppdaterad"
 :today "idag"
 :yesterday "igår"
 :days-ago "{1} dagar sedan"}
