{:ceiling-structures "Byggnad",
 :headline "Byggnad",
 :heat-sections? "Antalet personal",
 :heat-source "",
 :main-construction-materials "",
 :main-designers "Antalet personal",
 :piled? "",
 :seating-capacity "Antalet personal",
 :staff-count "Antalet personal",
 :supporting-structures "Areal av is m²",
 :total-ice-area-m2 "Areal av is m²",
 :total-pool-room-area-m2 "Areal av vatten m²",
 :total-surface-area-m2 "",
 :total-volume-m3 "Areal av vatten m²",
 :total-water-area-m2 "Areal av vatten m²"}
