{:cold "Kommentar",
 :comment "Kommentar",
 :contains-other-buildings? "",
 :electricity "",
 :headline "",
 :headline-year "",
 :heat "",
 :monthly "",
 :monthly-readings-in-year "",
 :monthly? "Vatten m³",
 :not-reported "",
 :not-reported-monthly "",
 :operating-hours "Vatten m³",
 :report "El MWh",
 :reported-for-year "Vatten m³",
 :water "Vatten m³",
 :yearly "El MWh"}
