{:add-rink "Lägg till en plan",
 :edit-rink "Redigera planen",
 :headline "Planen",
 :rink1-area-m2 "1. planens areal m²",
 :rink1-length "1. planens längd m",
 :rink1-width "1. planens bredd m",
 :rink2-area-m2 "2. planens areal m²",
 :rink2-length "2. planens längd m",
 :rink2-width "2. planens bredd m",
 :rink3-area-m2 "3. planens areal m²",
 :rink3-length "3. planens längd m",
 :rink3-width "3. planens bredd m"}
