{:headline "Admin",
 :email-verified-change "Vid byte av adress",
 :email-verified "E-post verifierad",
 :email-verified-registration "Vid registrering",
 :email-verified-login "Vid inloggning",
 :email-verified-legacy "Gammalt konto (antaget)",
 :email-not-verified "Inte verifierad",
 :impersonate "Logga in som användare",
 :magic-link "Magic link",
 :organizations "Organisationer",
 :select-magic-link-template "Välj brev",
 :send-magic-link "Skicka magic link till användare",
 :users "Användare"}
