{:headline "Användare",
 :monthly-visitors-in-year "",
 :not-reported "Glömt lösenordet?",
 :not-reported-monthly "Lösenord eller användarnamn är felaktigt",
 :spectators-count "Glömt ditt lösenord?",
 :total-count "Lösenord eller användarnamn är felaktigt"}
