{:email "E-post",
 :permissions "Rättigheter",
 :permissions-example "Rätt att uppdatera Jyväskylä ishallen.",
 :saved-searches "Sparad sök",
 :report-energy-and-visitors "Spara raportmodellen",
 :permission-to-cities
 "Du har rättighet att uppdatera de här kommunerna:",
 :password "Lösenord",
 :lastname "Efternamn",
 :save-report "Spara raportmodellen",
 :sports-sites "Egna platser",
 :permission-to-all-cities
 "Du har rättighet att uppdatera alla kommuner",
 :username "Användarnamn",
 :history "Historia",
 :saved-reports "Sparad raportmodeller",
 :contact-info "Kontaktuppgifter",
 :permission-to-all-types "Du har rättighet att uppdatera alla typer",
 :requested-permissions "Begärda rättigheter",
 :email-example "epost@exempel.fi",
 :permission-to-portal-sites
 "Du har rättighet att uppdatera de här platserna:",
 :permissions-help "Skriv vad du vill uppdatera i Lipas",
 :report-energy-consumption "Begärda rättigheter",
 :firstname "Förnamn",
 :save-search "Spara söket",
 :view-basic-info "Kolla ut grunddata",
 :no-permissions "Användarnamn till Lipas har inte ännu konfirmerats",
 :permission-to-activities
 "Du har behörighet till följande aktiviteter",
 :username-example "tane12",
 :permission-to-types "Du har rättighet att uppdatera de här typerna:"}
