{:gym? "Gym",
 :headline "Andra tjänster",
 :hydro-massage-spots-count "Antal av andra massagepunkter",
 :hydro-neck-massage-spots-count "Antal av nackemassagepunkter",
 :kiosk? "Kiosk / café",
 :lockers-men-count "Antalet omklädningsskåp för män",
 :lockers-unisex-count "Antalet unisex omklädningsskåp",
 :lockers-women-count "Antalet omklädningsskåp för kvinnor",
 :platforms-10m-count "Antalet 10 m hopplatser",
 :platforms-1m-count "Antalet 1 m hopplatser",
 :platforms-3m-count "Antalet 3 m hopplatser",
 :platforms-5m-count "Antalet 5 m hopplatser",
 :platforms-7.5m-count "Antalet 7.5 m hopplatser",
 :showers-men-count "Antalet duschar för män",
 :showers-unisex-count "Antalet unisex duschar",
 :showers-women-count "Antalet duschar för kvinnor"}
