{:add-user "Lägg till"
 :add-user-by-email "Lägg till via e-post"
 :bulk-operations "Massuppdatering"
 :bulk-operations-description "Uppdatera kontaktinformation för flera idrottsanläggningar samtidigt"
 :bulk-update-info "Lämna ett fält tomt för att rensa det fältet i de valda idrottsanläggningarna"
 :contact-admin
 "Kontakta systemadministratören för att läggas till i en organisation"
 :contact-info-update "Kontaktinformation att uppdatera"
 :details "Organisationsuppgifter"
 :email "E-post"
 :empty-field-clears "Tomt fält rensar data"
 :headline "Organisationer"
 :name "Namn"
 :no-organizations "Du tillhör ingen organisation"
 :org-role "Roll"
 :phone "Telefonnummer"
 :reservations-link "Bokningslänk"
 :users "Organisationens användare"
 :users-section "Användare"
 :website "Webbsida"}
