{:bad-credentials "Lösenord eller användarnamn är felaktigt",
 :forgot-password? "Glömt ditt lösenord?",
 :headline "Logga in",
 :login "Logga in",
 :login-help
 "Om du har ett användarnamn till LIPAS, du kan också logga in med e-post",
 :login-here "här",
 :login-with-magic-link "Logga in med e-post",
 :login-with-password "Logga in med lösenord",
 :logout "Logga ut",
 :magic-link-help
 "Om du har ett användarnamn till LIPAS, du kan beställa en logga in-länk till din e-post.",
 :magic-link-ordered
 "Länken har skickats och den är snart i din e-post. Kolla också spam!",
 :order-magic-link "Skicka länken till min e-post",
 :password "Lösenord",
 :username "E-post / användarnamn",
 :username-example "paavo.paivittaja@kunta.fi"}
