{:retkikartta-checkbox-reminder
 "Välj också igen \"Kan visas i Retkikartta.fi - service\" i följande steg i ytterligare information.",
 :route-part-difficulty "Ange svårighetsgrad för ruttsektion",
 :zoom-to-user "Zooma in till min position",
 :remove "Ta bort",
 :calculate-area "Räkna ytlan",
 :modify-polygon "Modifera området",
 :draw-polygon "Lägg till område",
 :travel-direction "Bestäm riktningen",
 :retkikartta-problems-warning
 "Korrigera problem som är märkta på kartan för att visa i Retkikartta.fi.",
 :edit-later-hint "Du kan modifera geometrin också senare",
 :center-map-to-site "Fokusera kartan på platsen",
 :draw-hole "Lägg till hål",
 :split-linestring "Klippa ruttdel",
 :delete-vertices-hint
 "För att ta bort en punkt, tryck och håll alt-knappen och klicka på punkten",
 :calculate-route-length "Räkna ut längden",
 :remove-polygon "Ta bort område",
 :modify-linestring "Modifera rutten",
 :download-gpx "Ladda ner GPX",
 :add-to-map "Lägg till på karta",
 :bounding-box-filter "Sök i området",
 :remove-linestring "Ta bort ruttdel",
 :calculate-count "Beräkna antal automatiskt",
 :draw-geoms "Rita",
 :confirm-remove "Är du säker att du vill ta bort geometrin?",
 :draw "Lägg till på karta",
 :draw-linestring "Lägg till ruttdel",
 :modify "Du kan dra punkten på kartan",
 :zoom-to-site "Zooma in till sportplats",
 :kink "Korrigera så att ruttdelen inte korsar själv",
 :zoom-closer "Zooma in"}
