{:copyright1 "Befolkningsinformation: Statistikcentralen 2019 årets",
 :copyright2 "1 km * 1 km data",
 :copyright3 "licens",
 :copyright4
 ", samt 250x250m rutdatamaterial från år 2022 med sluten licens.",
 :headline "Befolkning",
 :helper-text "Välj idrottsanläggning på kartan.",
 :tooltip "analysverktyg"}
