{:light-traffic "Gång- och cykelvägar",
 :mml-kiinteisto "Fastighetsgränser",
 :tooltip "Andra kartlager",
 :retkikartta-snowmobile-tracks "Forststyrelsens snöskoterleder",
 :mml-property-identifiers "Fastighetsbeteckningar",
 :municipal-boundaries "Kommungränser"}
