{:headline "Importera geometri",
 :geoJSON
 "Laddar upp .json file som innehåller GeoJSON FeatureCollect object. Koordinater måste vara i WGS84 koordinatsystem.",
 :gpx "Utgångsmaterial måste vara i WGS84 koordinatsystem.",
 :supported-formats "Filformat som passar är {1}",
 :no-geoms-of-type "Den angivna filen innehåller inga {1} geometrier.",
 :replace-existing? "Ersätt gammal geometri",
 :select-encoding "Välj teckenuppsättning",
 :tab-header "Importera från filen",
 :kml "Utgångsmaterial måste vara i WGS84 koordinatsystem.",
 :coords-not-in-finland-wgs84-bounds
 "Den angivna filen innehåller inte koordinater i WGS84 (EPSG:4326) koordinatsystemet. Kontrollera att ursprungsmaterialet är i rätt koordinatsystem.",
 :shapefile "Importera .shp .dbf och .prj filer i packade .zip filen.",
 :import-selected "Importera valda",
 :tooltip "Importera geometrier från filen",
 :unknown-format "Okänt filformat '{1}'",
 :unknown-error "Ett oväntat fel inträffade. Försök med en annan fil."}
