{:description "Beskrivning",
 :descriptions "Beskrivningarna",
 :not-suitable-for-export "Idrottsanläggningen är inte lämplig för export till PTV.",
 :keywords "Nyckelord",
 :loading-from-ptv "Hämtar information från PTV...",
 :service "Service",
 :service-channel "Servicepunkt",
 :service-channels "Servicepunkt",
 :services "Service",
 :settings "Inställningar",
 :sports-sites "Idrottsanläggningar",
 :summary "Sammanfattning",
 :tools "Massverktyg",
 :tooltip "Skicka till PTV",
 :wizard "Idrifttagning"}
