{:export-service-locations-to-ptv "Skicka till PTV",
 :integrate-service-locations
 "Skapa servicepunkter från idrottsanläggningar.",
 :unselect-helper
 "Om du inte vill exportera ett visst objekt kan du öppna det i panelen till höger och inaktivera reglaget.",
 :all-services-exist "Alla nödvändiga service är i PTV. Fantastiskt!",
 :generate-descriptions-helper3
 "Servicepunkter kan upprättas i PTV när de har minst en finsk beskrivning och sammanfattning. LIPAS kompletterar serviceklass, nyckelord och andra metadata automatiskt.",
 :service-channel-name-conflict
 "Det finns redan en servicepunkt med namnet {1} i PTV.",
 :assign-services-to-sports-sites
 "Koppla idrottsanläggningar till tjänsterna.",
 :generate-descriptions-helper2
 "Tryck på knappen 'Skapa beskrivningar' för att automatiskt skapa beskrivningar med hjälp av artificiell intelligens. Beskrivningarna skapas baserat på de idrottsanläggningar som är sparade i LIPAS.",
 :services-to-add "Service att upprätta",
 :attach-to-conflicting-service-channel
 "Koppla till denna servicepunkt",
 :export-services-to-ptv "Skicka till PTV",
 :generate-descriptions-helper1
 "Tjänster kan upprättas i PTV när de har minst en finsk beskrivning och sammanfattning. LIPAS kompletterar serviceklass, nyckelord och andra metadata automatiskt.",
 :generate-descriptions "Skapa beskrivningar"}
