{:all-services-exist "Tjänster för de valda typklasserna finns redan i PTV. Du kan gå vidare till nästa steg.",
 :attach-to-conflicting-service-channel
 "Koppla till denna servicepunkt",
 :export-service-locations-to-ptv "Skicka till PTV",
 :export-services-to-ptv "Skicka till PTV",
 :generate-descriptions "Skapa beskrivningar",
 :regenerate-descriptions "Uppdatera beskrivningar",
 :generate-descriptions-helper1
 "Tjänster kan upprättas i PTV när de har minst en finsk beskrivning och sammanfattning. LIPAS kompletterar serviceklass, nyckelord och andra metadata automatiskt.",
 :generate-descriptions-helper2
 "Tryck på knappen 'Skapa beskrivningar' för att automatiskt skapa beskrivningar med hjälp av artificiell intelligens. Beskrivningarna skapas baserat på de idrottsanläggningar som är sparade i LIPAS.",
 :generate-descriptions-helper3
 "Servicepunkter kan upprättas i PTV när de har minst en finsk beskrivning och sammanfattning. LIPAS kompletterar serviceklass, nyckelord och andra metadata automatiskt.",
 :integrate-service-locations
 "Skapa servicepunkter från idrottsanläggningar.",
 :service-channel-name-conflict
 "Det finns redan en servicepunkt med namnet {1} i PTV.",
 :services-to-add "Service att upprätta",
 :export-error-try-again
 "Exporten misslyckades. Försök igen eller kontakta supporten om problemet kvarstår.",
 :no-sports-sites-for-types
 "Kommunen har inga idrottsanläggningar i LIPAS för de valda typklasserna.",
 :link-to-existing-service "Finns tjänsten redan i PTV?",
 :select-existing-service "Välj befintlig tjänst",
 :linked-to-service "Kopplad till tjänst",
 :mapped-services "Kopplade tjänster",
 :unlink-service "Ta bort koppling",
 :unselect-helper
 "Om du inte vill exportera ett visst objekt kan du öppna det i panelen till höger och inaktivera reglaget."}
