{:start-helper
 "Du kan justera de förslag som genereras av AI i takt med att de färdigställs.",
 :canceling "Avbryter... Vänta ett ögonblick.",
 :start "Starta",
 :headline
 "Skapa beskrivningar av servicepunkter med hjälp av artificiell intelligens."}
