{:classes "Serviceklasser",
 :services-explanation "Organisationens PTV-tjänster till vilka idrottsanläggningar kopplas som servicepunkter. Tjänster kopplade till LIPAS har skapats genom integrationen.",
 :no-lipas-services "Inga LIPAS-hanterade tjänster har skapats ännu.",
 :no-services "Organisationen har inga tjänster i PTV.",
 :use-wizard-to-create "Skapa tjänster med hjälp av guiden på fliken Idrifttagning.",
 :show-only-lipas-managed "Visa endast tjänster som är kopplade till LIPAS."
 :add-service "Lägg till tjänst"
 :create-new "Skapa ny tjänst"
 :link-existing "Koppla befintlig PTV-tjänst"
 :select-sub-category "Välj typklass"
 :select-service "Välj tjänst från PTV"
 :needs-service-helper "Idrottsanläggningen måste vara kopplad till en tjänst i PTV. Välj en befintlig tjänst eller skapa en ny."}
