{:title "PTV har ändringar som inte finns i LIPAS"
 :warning "Nästa synkronisering till PTV skriver över dessa ändringar med data från LIPAS."
 :instruction "Uppdatera LIPAS så att den motsvarar ändringarna i PTV, eller acceptera att ändringarna i PTV ångras vid nästa synkronisering."
 :field-header "Fält"
 :lipas-header "LIPAS (skickas till PTV)"
 :ptv-header "PTV (nuvarande)"
 :empty "(inget värde)"

 :field-name "Namn"
 :field-marketing-name "Marknadsföringsnamn"
 :field-summary "Sammanfattning"
 :field-description "Beskrivning"
 :field-services "Anslutna tjänster"

 :services-lipas-has "Anslutet i LIPAS:"
 :services-ptv-has "Anslutet i PTV:"
 :services-will-remain "Bevaras efter synkronisering."
 :services-will-be-removed "Tas bort vid nästa synkronisering."}
