{:canceling "Avbryter... Vänta ett ögonblick.",
 :headline
 "Skapa beskrivningar av servicepunkter med hjälp av artificiell intelligens.",
 :start "Starta",
 :start-helper
 "Du kan justera de förslag som genereras av AI i takt med att de färdigställs."}
