{:change-password "Ändra lösenord",
 :enter-new-password "Skriv ett ny lösenord",
 :get-new-link "Bestella ny återställningslänk",
 :headline "Glömt lösenordet?",
 :helper-text "Vi ska skicka en återställningslänk till din e-post.",
 :password-helper-text "Lösenordet måste innehålla minst 6 tecken.",
 :reset-link-sent "Länken har skickats! Kolla din e-post.",
 :reset-success
 "Lösenordet har ändrats! Logga in med ditt nya lösenord."}
