{:table-view "Visa resultaten i tabellen",
 :headline "Sökning",
 :results-count "{1} resultat",
 :harrastuspassi-filter "Harrastuspassi.fi-platser",
 :placeholder "Sök...",
 :retkikartta-filter "Retkikartta.fi-platser",
 :filters "Filtrera sökning",
 :search-more "Sök mer...",
 :page-size "Visa",
 :search "Sök",
 :permissions-filter "Visa platser som jag kan redigera",
 :display-closest-first "Visa närmaste platser först",
 :list-view "Visa resultaten i listan",
 :pagination "Resultaten {1}-{2}",
 :school-use-filter "Idrottsanläggningar nära skolor",
 :clear-filters "Avmarkera filter",
 :results "Sökresultat"}
