{:add-property-filter "Lägg till filter",
 :boolean-filter-all "Alla",
 :boolean-filter-no "Nej",
 :boolean-filter-yes "Ja",
 :clear-filters "Avmarkera filter",
 :clear-property-filters "Avmarkera tilläggsfilter",
 :contains-text "Innehåller text",
 :display-closest-first "Visa närmaste platser först",
 :filters "Filtrera sökning",
 :harrastuspassi-filter "Harrastuspassi.fi-platser",
 :headline "Sökning",
 :list-view "Visa resultaten i listan",
 :page-size "Visa",
 :pagination "Resultaten {1}-{2}",
 :permissions-filter "Visa platser som jag kan redigera",
 :placeholder "Sök...",
 :results "Sökresultat",
 :results-count "{1} resultat",
 :retkikartta-filter "Retkikartta.fi-platser",
 :school-use-filter "Idrottsanläggningar nära skolor",
 :search "Sök",
 :search-more "Sök mer...",
 :table-view "Visa resultaten i tabellen"}
