{:description
 "Ekonomiska uppgifter om idrotts- och ungdomsväsende. Kommunen kan observera hur kostnader utvecklas över tid.",
 :filter-types "Välj typer",
 :length-km-sum "Idrottsrutters totalt längd ",
 :headline "Statistik",
 :select-years "Välj år",
 :browse-to "Gå till statistiken",
 :select-issuer "Välj understödare",
 :select-unit "Välj måttenhet",
 :general-disclaimer-1
 "Lipas.fi idrottsanläggningar, friluftsleder och friluftsområden i Finland: Erkännande 4.0 Internationell (CC BY 4.0). https://creativecommons.org/licenses/by/4.0/deed.sv",
 :bullet3 "Bidrag",
 :general-disclaimer-2
 "Du har tillstånd att dela, kopiera och vidaredistribuera materialet oavsett medium eller format, bearbeta, remixa, transformera, och bygg vidare på materialet, för alla ändamål, även kommersiellt. Du måste ge ett korrekt erkännande om du använder Lipas-data, till exempel “Idrottsplatser: Lipas.fi, Jyväskylä Universitet, datum/år”.",
 :finance-stats "Ekonomiska uppgifter",
 :select-city "Välj kommun",
 :area-m2-min "Minimum idrottsareal m²",
 :filter-cities "Välj kommuner",
 :select-metrics "Välj storheter",
 :area-m2-count "Antal av platser med idrottsareal information",
 :show-ranking "Visa rankning",
 :age-structure-stats "Byggnadsår",
 :subsidies-count "Antal av bidrag",
 :area-m2-sum "Totalt idrottsareal m²",
 :select-metric "Välj storhet",
 :finance-disclaimer
 "Ekonomiska uppgifter av kommuners idrotts- och ungdomsväsende: Statistikcentralen öppen data. Materialet har laddats ner från Statistikcentralens gränssnittstjänst 2001-2019 med licensen CC BY 4.0. Observera, att kommunerna ansvarar själva för att uppdatera sina ekonomiska uppgifter i Statistikcentralens databas. Enhetlighet och jämförbarhet mellan åren eller kommunerna kan inte garanteras.",
 :general-disclaimer-3
 "Observera, att Lipas.fi data är uppdaterat av kommuner och andra ägare av idrottsplatser samt Lipas.fi administratörer i Jyväskylä Universitet. Omfattning, riktighet eller enhetlighet kan inte garanteras. I Lipas.fi statistik är material baserat på data i Lipas.fi databas. Återstående information kan påverka beräkningar.",
 :bullet2 "Statistiken om idrottsanläggningar",
 :area-m2-max "Maximum idrottsareal m²",
 :select-grouping "Gruppering",
 :select-city-service "Välj administratör",
 :region "Region",
 :show-comparison "Visa jämförelse",
 :length-km-avg "Medeltal av idrottsruttens längd",
 :sports-sites-count "Antal av idrottsanläggningar",
 :length-km-min "Minimum idrottsruttens längd",
 :country-avg "(medeltal för hela landet)",
 :length-km-count "Antal av idrottsrutter med längd information",
 :bullet4 "Liikuntapaikkojen rakennusvuodet",
 :population "Folkmängd",
 :sports-stats "Idrottsanläggningar",
 :disclaimer-headline "Datakälla",
 :select-cities "Välj kommuner",
 :subsidies "Bidrag",
 :select-interval "Välj intervall",
 :bullet1 "Ekonomiska uppgifter om idrotts- och ungdomsväsende",
 :area-m2-avg "Medeltal av idrottsareal m²",
 :age-structure "Byggnadsår av idrottsanläggningar",
 :length-km-max "Maximum idrottsruttens längd",
 :total-amount-1000e "Totalt (1000 €)",
 :city-stats "Kommunstatistik"}
