{:deficit "Underskott för räkenskapsåret",
 :investments "Investeringar",
 :net-costs "Nettokostnader",
 :operating-expenses "Driftskostnader",
 :operating-incomes "Driftsintäkter",
 :operational-expenses "Verksamhetskostnader",
 :operational-income "Verksamhetsintäkter",
 :subsidies "Understöd och bidrag från kommunen",
 :surplus "Överskott för räkenskapsåret"}
