{:age-structure "Byggnadsår av idrottsanläggningar",
 :age-structure-stats "Byggnadsår",
 :area-m2-avg "Medeltal av idrottsareal m²",
 :area-m2-count "Antal av platser med idrottsareal information",
 :area-m2-max "Maximum idrottsareal m²",
 :area-m2-min "Minimum idrottsareal m²",
 :area-m2-sum "Totalt idrottsareal m²",
 :browse-to "Gå till statistiken",
 :bullet1 "Ekonomiska uppgifter om idrotts- och ungdomsväsende",
 :bullet2 "Statistiken om idrottsanläggningar",
 :bullet3 "Bidrag",
 :bullet4 "Liikuntapaikkojen rakennusvuodet",
 :city-stats "Kommunstatistik",
 :country-avg "(medeltal för hela landet)",
 :description
 "Ekonomiska uppgifter om idrotts- och ungdomsväsende. Kommunen kan observera hur kostnader utvecklas över tid.",
 :disclaimer-headline "Datakälla",
 :filter-cities "Välj kommuner",
 :filter-types "Välj typer",
 :finance-disclaimer
 "Ekonomiska uppgifter av kommuners idrotts- och ungdomsväsende: Statistikcentralen öppen data. Materialet har laddats ner från Statistikcentralens gränssnittstjänst 2001-2019 med licensen CC BY 4.0. Observera, att kommunerna ansvarar själva för att uppdatera sina ekonomiska uppgifter i Statistikcentralens databas. Enhetlighet och jämförbarhet mellan åren eller kommunerna kan inte garanteras.",
 :finance-stats "Ekonomiska uppgifter",
 :general-disclaimer-1
 "Lipas.fi idrottsanläggningar, friluftsleder och friluftsområden i Finland: Erkännande 4.0 Internationell (CC BY 4.0). https://creativecommons.org/licenses/by/4.0/deed.sv",
 :general-disclaimer-2
 "Du har tillstånd att dela, kopiera och vidaredistribuera materialet oavsett medium eller format, bearbeta, remixa, transformera, och bygg vidare på materialet, för alla ändamål, även kommersiellt. Du måste ge ett korrekt erkännande om du använder Lipas-data, till exempel “Idrottsplatser: Lipas.fi, Jyväskylä Universitet, datum/år”.",
 :general-disclaimer-3
 "Observera, att Lipas.fi data är uppdaterat av kommuner och andra ägare av idrottsplatser samt Lipas.fi administratörer i Jyväskylä Universitet. Omfattning, riktighet eller enhetlighet kan inte garanteras. I Lipas.fi statistik är material baserat på data i Lipas.fi databas. Återstående information kan påverka beräkningar.",
 :headline "Statistik",
 :length-km-avg "Medeltal av idrottsruttens längd",
 :length-km-count "Antal av idrottsrutter med längd information",
 :length-km-max "Maximum idrottsruttens längd",
 :length-km-min "Minimum idrottsruttens längd",
 :length-km-sum "Idrottsrutters totalt längd ",
 :population "Folkmängd",
 :region "Region",
 :select-cities "Välj kommuner",
 :select-city "Välj kommun",
 :select-city-service "Välj administratör",
 :select-grouping "Gruppering",
 :select-interval "Välj intervall",
 :select-issuer "Välj understödare",
 :select-metric "Välj storhet",
 :select-metrics "Välj storheter",
 :select-unit "Välj måttenhet",
 :select-years "Välj år",
 :show-comparison "Visa jämförelse",
 :show-ranking "Visa rankning",
 :sports-sites-count "Antal av idrottsanläggningar",
 :sports-stats "Idrottsanläggningar",
 :subsidies "Bidrag",
 :subsidies-count "Antal av bidrag",
 :total-amount-1000e "Totalt (1000 €)"}
