{:date "Datum",
 :end "Slutade",
 :hour "Timme",
 :just-a-moment-ago "För en stund sedan",
 :last-year "Förra året",
 :less-than-hour-ago "För mindre än en timme sedan",
 :long-time-ago "För länge sedan",
 :month "Månad",
 :start "Började",
 :this-month "Den här månaden",
 :this-week "Den här veckan",
 :this-year "Det här året",
 :three-years-ago "För 3 år sedan",
 :time "Tid",
 :today "I dag",
 :two-years-ago "För 2 år sedan",
 :year "År",
 :yesterday "I går"}
