{:count "Totalt antal typer",
 :geometry "Geometri",
 :main-categories "Huvudkategorier",
 :main-category "Huvudkategori",
 :name "Idrottsanläggningstyp",
 :sports-site-types "Typ av idrottsanläggning",
 :no-sub-categories "Inga underkategorier",
 :sub-category "Underkategori",
 :type-code "Typkod"}
