{:headline "Mitt konto",
 :admin-page-link "Gå till adminsidan",
 :promo1-link "Visa gymnastiksaler som jag kan uppdatera",
 :swimming-pools-link "Simhallsportal",
 :promo-headline "Aktuellt",
 :data-ownership "Användarvillkor och ansvar",
 :front-page-link "Gå till framsidan",
 :promo1-text "Öppna PDF",
 :ice-stadiums-link "Ishallsportal",
 :greeting "Hej {1} {2} !",
 :promo1-topic
 "OBS! EN UPPDATERING I KLASSIFICERING AV IDROTTS- OCH FRILUFTSPLATSER I LIPAS-SYSTEMET (11 januari 2022)"}
