{:admin-page-link "Gå till adminsidan",
 :data-ownership "Användarvillkor och ansvar",
 :front-page-link "Gå till framsidan",
 :greeting "Hej {1} {2} !",
 :headline "Mitt konto",
 :ice-stadiums-link "Ishallsportal",
 :promo-headline "Aktuellt",
 :promo1-link "Visa gymnastiksaler som jag kan uppdatera",
 :swimming-pools-link "Simhallsportal"}
