{:lein     true
 :dev-http {3449 "resources/public"}
 :builds
 {:app
  {:target     :browser
   :asset-path "js/compiled"
   :output-dir "resources/public/js/compiled"
   :compiler-options
   {:infer-externs :true}
   :dev
   {:closure-defines
    {re-frame.trace.trace-enabled? true}}
   :modules
   {:app
    {:init-fn lipas.ui.core/init}}
   :devtools
   {:after-load lipas.ui.core/mount-root
    :preloads   [devtools.preload
                 day8.re-frame-10x.preload]}}}}
